[2016-12-05 17:06] jlengstorf opened #2 "[EPIC] Develop initial release of the site."
This epic collects all development-related issues for the initial release of the site.

[2016-12-05 17:08] jlengstorf opened #3 "Remove "integrate" link in "Where to Start" section."
Integrations won't be ready by Dec 8 launch date, so leaving off for now.

[2016-12-05 17:10] jlengstorf opened #4 "Update "OpenWhisk CLI" link in "Where to Start" section."
Should link to: https://github.com/openwhisk/openwhisk/blob/master/docs/README.md#setting-up-the-openwhisk-cli

[2016-12-05 17:11] jlengstorf opened #5 "Update Medium icon link in top and bottom nav."
Should link to https://medium.com/openwhisk

[2016-12-05 17:13] jlengstorf opened #6 "Update Contributors section on home page."
Needs illustration from @yumeforever.

<img width="778" alt="144b29e2-b7cc-11e6-98b8-da3c4e825652" src="https://cloud.githubusercontent.com/assets/163561/20894607/1de3a518-bae4-11e6-9819-398ff6461e91.png">

[2016-12-05 17:18] jlengstorf opened #7 "Finish Serverless page."
- [ ] Update content
- [ ] Create illustration (@yumeforever)
- [ ] Add illustration
- [ ] Choose pull quote w/citation and link
- [ ] Add use cases

@yumeforever, once you've got the illustration, please add it here and assign this to me. I will knock the rest of these out.

[2016-12-05 17:21] jlengstorf opened #8 "Add CTA text/link to the developers page"
- [x] Design bottom CTA (@yumeforever)
- [x] Update top CTA button text: "Create Your First Action"
- [x] Link the CTA buttons to https://github.com/openwhisk/openwhisk/blob/master/docs/actions.md

[2016-12-05 17:22] jlengstorf opened #9 "Discuss how docs can/should be incorporated into the site."
After the initial launch, let's revisit documentation and look at options for making it a more cohesive experience.

[2016-12-05 17:24] jlengstorf commented on #7
Initial thoughts from Andreas on content for the page:

[2016-12-05 17:27] jlengstorf opened #10 "Create animation for "Where to Start" section of the home page."
- [x] Design where to start animation (@yumeforever)
- [x] Add animation to the home page

[2016-12-05 17:28] jlengstorf opened #11 "Create illustrations for the Contributors page."
Currently blocked by #29. Once we get the content, we need the following from @yumeforever:

- [x] Illustration for section 1
- [ ] Illustration for section 2
- [x] Illustration for section 3

(We should update these todos with actual feature/section headlines once we have them.)

[2016-12-05 17:28] jlengstorf opened #12 "Create illustrations for the Service Integrators page."
Currently blocked by #28. Once we get the content, we need the following from @yumeforever:

- [x] Illustration for section 1
- [x] Illustration for section 2
- [ ] Illustration for section 3

(We should update these todos with actual feature/section headlines once we have them.)

[2016-12-05 17:28] jlengstorf opened #13 "Design Events page."
This is a list of upcoming events where the OpenWhisk team will be, plus a list of past events.

- [x] Design listing of upcoming and past events (@yumeforever)

For now, we can probably stay pretty close to this general layout (but prettier): https://developer.ibm.com/openwhisk/events/

For later, we can discuss combining this with the updates page that @krook and @mrutkows mentioned.

[2016-12-05 17:28] jlengstorf opened #14 "Update logos for Partners page."
- [x] Add Apache logo
- [x] Add SiteSpirit logo

@yumeforever here are the logo files:

- [Adobe_standard_logo_RGB.pdf](https://github.com/openwhisk/openwhisk.github.io/files/631909/Adobe_standard_logo_RGB.pdf)
- [LOGO-SITESPIRIT.ai.zip](https://github.com/openwhisk/openwhisk.github.io/files/631910/LOGO-SITESPIRIT.ai.zip)

[2016-12-05 17:29] jlengstorf opened #15 "Add Apache branding to OpenWhisk logo in the top nav."
- [x] Add "Apache" into the OpenWhisk logo in the top nav

@yumeforever: see the [Cordova](https://cordova.apache.org/) site for inspiration on this.

[2016-12-05 17:29] jlengstorf opened #16 "Design Media page."

[2016-12-05 17:29] jlengstorf opened #17 "[EPIC] Finalize Designs for Initial Launch"
This epic collects all issues related to design for the Dec 8 launch of the site.

[2016-12-05 17:32] jlengstorf opened #18 "Add SEO meta tags for the site."
- [x] Write a title that's SEO-friendly
- [ ] Write a description that's SEO-friendly
- [ ] Add SEO tags for sharing (Google, OpenGraph, Twitter)
- [ ] Request Twitter cards verification

[2016-12-05 17:33] jlengstorf opened #19 "Create a new video for the home page."
Currently we have a placeholder from the OpenWhisk YouTube channel.

- [ ] Record a new video to be played on the home page. (@nauerz-ibm)
- [ ] Write a script for the video (@nauerz-ibm)
- [ ] Add voice-over to the new video (@krook)
- [ ] Replace the current video on the home page (@jlengstorf)

[2016-12-05 17:33] jlengstorf opened #20 "Update home page call to action (link + text)."
- [x] Decide on home page CTA text
- [x] Decide on home page CTA link (https://github.com/openwhisk/openwhisk/tree/master/docs#getting-started-with-openwhisk)

[2016-12-05 17:33] jlengstorf opened #21 "Choose pull quotes for home page (2)."
- [ ] Choose 10–25 words of praise or review from two reviews
- [ ] Provide citation (name, source link, publication)

If possible, it would be great to include an avatar or publication logo. @krook @mrutkows who do we need to ask to make sure it's legal to do that?

[2016-12-05 17:33] jlengstorf opened #22 "Choose pull quotes for Developers page (2)."
- [ ] Choose 10–25 words of praise or review from two reviews
- [ ] Provide citation (name, source link, publication)

If possible, it would be great to include an avatar or publication logo. See #21 for discussion about legality of doing so.

[2016-12-05 17:34] jlengstorf opened #23 "Choose pull quotes for Service Integrators page (2)."
- [ ] Choose 10–25 words of praise or review from two reviews
- [ ] Provide citation (name, source link, publication)

If possible, it would be great to include an avatar or publication logo. See #21 for discussion about legality of doing so.

[2016-12-05 17:34] jlengstorf opened #24 "Choose pull quotes for Contributors page (2)."
- [ ] Choose 10–25 words of praise or review from two reviews
- [ ] Provide citation (name, source link, publication)

If possible, it would be great to include an avatar or publication logo. See #21 for discussion about legality of doing so.

[2016-12-05 17:34] jlengstorf opened #25 "Edit content for Service Integrators panel of the home page."
From @nauerz-ibm:

[2016-12-05 17:34] jlengstorf opened #26 "Edit About page."
- [x] Edit copy for main section.
- [x] Edit copy for Architecture Overview section.
- [ ] Swap out video with the one chosen in #27.

[2016-12-05 17:35] jlengstorf opened #27 "Remove video from the About page."
Should this be the same video from the home page?

[2016-12-05 17:37] jlengstorf opened #28 "Write lede + 3 feature overview sections for Service Integrator page."

[2016-12-05 17:37] jlengstorf opened #29 "Write lede + 3 feature overview sections for Contributors page."
Initial ideas from @nauerz-ibm:

[2016-12-05 17:37] jlengstorf opened #30 "Edit all content to include Apache branding when mentioning OpenWhisk."
Any instance of "OpenWhisk" in the copy should be updated to "Apache OpenWhisk".

[2016-12-05 17:38] jlengstorf opened #31 "[EPIC] Create site content for the initial launch."
This epic collects issues for the Dec 8 relaunch of the site.

[2016-12-05 17:39] jlengstorf opened #32 "Create Apache OpenWhisk mailing list page listing"
For community updates, discussion, and announcements.

[2016-12-05 17:39] jlengstorf opened #33 "[EPIC] Launch and Promotion"
This epic collects issues relating to the launch + marketing needs of the new site.

[2016-12-05 18:04] jlengstorf commented on #16
Closing — we're skipping a media page in favor of showing quotes from the media/happy users/developers on various pages.

[2016-12-05 18:04] #16 closed

[2016-12-05 18:12] jlengstorf commented on #20
I'll use "Get Started" for now.

[2016-12-05 18:22] jlengstorf commented on #32
@krook I'm pretty sure you said this was in progress, so I'm dropping it in that column. Feel free to edit this, reassign it, or whatever else if I'm wrong.

[2016-12-05 18:28] jlengstorf opened #34 "Update FAQ link list style."
Per @yumeforever:

[2016-12-05 18:32] jlengstorf commented on #29
I'll take a crack at editing this into a format that matches the other pages. Should have it in today.

[2016-12-05 18:35] jlengstorf commented on #26
From @nauerz-ibm:

[2016-12-05 18:35] jlengstorf commented on #26
From @nauerz-ibm (for Architecture Overview):

[2016-12-05 18:39] jlengstorf opened #35 "Build Partners page."
- [ ] Update main heading and lede (@nauerz-ibm)
- [x] Create illustration for header (@yumeforever)
- [ ] Code it all up (@jlengstorf)

<img width="653" alt="screencap-by-jlengstorf 4" src="https://cloud.githubusercontent.com/assets/163561/20897389/20f84f04-baf0-11e6-8522-017c124d39c3.png">

[2016-12-05 18:43] jlengstorf commented on #35
From @nauerz-ibm:

[2016-12-05 18:49] jlengstorf opened #36 "Finish responsive styles."
- [ ] Personas on home page
- [ ] All yet-to-be-developed pages

[2016-12-05 18:57] jlengstorf opened #37 "Review license and copyright information"
The original site was under the Apache license. I assume that's still valid, but wanted to add it to our launch checklist.

[2016-12-05 18:58] jlengstorf opened #38 "Review README"
I haven't touched the README from the original OpenWhisk site. Does this need to be updated with Apache branding, new license, etc.?

[2016-12-05 19:25] krook opened #39 "Need to create process for adding materials to linked social media sites"
It should be clear how content can be added to OpenWhisk social media accounts.

That includes adding the relevant collaboration users to those accounts, or at least defining how content can be suggested to someone with access.

This would include adding videos to YouTube, adding presentations to SlideShare, articles to Medium, etc.

Maybe a FAQ item describes the recommended process?

[2016-12-05 19:38] krook commented on #32
@jlengstorf @mrutkows was going to let us know when the lists were created by Apache, then we could link to them as Cordova does from one of our pages: https://cordova.apache.org/contact/

[2016-12-05 19:51] krook commented on #26
How about this? I renamed to focus on the programming model rather than the architecture which seems to be a better label for the diagram:

**High-Level Programming Model**

**Event Sources**
Event sources, such as devices, queues, databases, and webhooks, emit classes of events in the form of triggers.

**Triggers**
Triggers are the class of events including device readings, published messages, a

[2016-12-05 19:54] krook commented on #7
We can link to or pull content from my blog post: [What makes serverless architectures so attractive?](https://developer.ibm.com/opentech/2016/09/06/what-makes-serverless-attractive/)

[2016-12-05 19:56] krook commented on #6
If we keep that title, it should read "Be part of a vibrant open source community!"

[2016-12-05 21:17] krook commented on #35
I think we need to align this with not only the Service Integrators page/persona, but we may want to point them to a mailing list, or specific OpenWhisk vendor pages. We should look at Apache precedents for this sort of thing.

[2016-12-05 21:24] krook opened #40 "Change "OS Contributors" to just "Contributors" in top and bottom navigation."
That would be my preference. Might help responsiveness for smaller screens as well. Thoughts?

[2016-12-05 21:37] krook commented on #38
May also need CONTRIBUTING/CLA info.

[2016-12-05 21:40] krook commented on #28
@mrutkows is definitely going to need to be involved with this one.

[2016-12-05 21:42] krook commented on #15
Should also be in the text above the call to action button.

[2016-12-05 21:47] krook commented on #22
@nauerz-ibm Are there quotes we can use from end users that you spoke to in the last couple of weeks?

[2016-12-05 21:57] krook commented on #18
We need to figure out what tags are still relevant in 2016. To start, we should get at least the title and description for the main page updated, then focus on sub pages.

For discussion:

[code]

[2016-12-05 22:02] krook commented on #13
Would be nice to automate this in the future. For example, pulling meetup.com events tagged "openwhisk" from their API.

[2016-12-05 22:07] jlengstorf commented on #25
If the goal of this section is to convince other companies to create packages for their service, I think we should focus more on how _they_ benefit by doing so.

How about this, @nauerz-ibm @krook @mrutkows?

[2016-12-05 22:33] jlengstorf commented on #29
@mrutkows @krook @nauerz-ibm — here's a stab at the main headline, main CTA, and subheadings for the Contributors page (placeholder image attached for layout reference):

I think I'd like to see an individual CTA for each subsection. I know that breaks the pattern established on the Developers/Service Integrators pages, but I also think there are three very different paths on this page, and there'

[2016-12-05 22:48] jlengstorf commented on #18
@krook I'm fairly certain `keywords` is useless these days. I'm also not sure we need `DC.title`, unless there's a special use I'm not aware of.

Here's what I use on my own site, which has done pretty well for me:

[code]

In a nutshell, that's:

1. JSON-LD for Google
2. A little microformat stuff (also Google)
3. Open Graph tags (Facebook, LinkedIn, etc.)
4. Twitter card tags

I can make it fair

[2016-12-05 22:50] jlengstorf commented on #28
@mrutkows I took a swing at a synopsis in [this comment](https://github.com/openwhisk/openwhisk.github.io/issues/25#issuecomment-264993317). If you're editing this page, it's probably worth checking that at the same time.

[2016-12-05 22:53] jlengstorf commented on #39
The FAQ might be odd unless it's possible for _anyone_ to update social media. It's possible to create pages that aren't linked in the nav, which may be a good idea for core-team-only kind of stuff.

[2016-12-05 22:53] jlengstorf commented on #40
Sounds good to me. I have ideas for the nav that I'll bring up in another issue.

[2016-12-05 22:57] jlengstorf opened #43 "Remove Media page from the nav."
After discussion with @nauerz-ibm and @yumeforever, this page is no longer necessary.

[2016-12-05 23:01] jlengstorf opened #45 "Create content for the Imprint page."
There is an "Imprint" page in the footer nav at the moment.

- [ ] Confirm whether or not this page is legally required.
- [ ] Write content for the page.

[2016-12-05 23:19] jlengstorf opened #46 "Look at options for automating the events page."
Can we update the page via API?

Even better, could we use OpenWhisk to do this?

![60471003](https://cloud.githubusercontent.com/assets/163561/20906681/596ce04e-bb17-11e6-9c71-a080e107a58b.jpg)

Something to think about post-launch.

[2016-12-05 23:28] jlengstorf commented on #26
Thanks, @krook! I'll throw this in tomorrow and see how it looks.

[2016-12-06 03:18] krook commented on #38
We should also add the Jekyll preview steps:

## Quickstart for Local Development

[code]

[2016-12-06 03:20] krook opened #47 "Need to update the Jekyll script to use current repo name"
Update configuration variables in [openwhisk.github.io/bin/develop](https://github.com/openwhisk/openwhisk.github.io/blob/feature/new-site/bin/develop)

[2016-12-06 04:10] krook opened #48 "Should find a way to integrate material as needed from Awesome OpenWhisk"
This repo has lots of good stuff that each of the personas might like as getting started material: https://github.com/openwhisk/awesome-openwhisk

[2016-12-06 09:33] nauerz-ibm commented on #45
I am pretty sure it is required for legal reasons.
I have dropped Ed, our IP guy, a mail to confirm and to help us with assembling the proper content.
I have cc'd you.

[2016-12-06 12:53] yumeforever commented on #29
I agree with @jlengstorf on the CTA for each section, but in my view from here on what they could/would like to do is to know more about the code and try OpenWhisk.
I don't know how it works with Open Source project, how they can actually contribute, what are the steps to start.. but something related to that. What do you guys think?

[2016-12-06 12:55] yumeforever commented on #29
Ps: Does **"Get thousands of developers using your service."** really apply to Open Source Contributors? @nauerz-ibm Isn't this just about the Service Integrators?

[2016-12-06 13:12] jlengstorf commented on #13
@krook I created an issue in the icebox (#46) so we can revisit automating this after the initial launch.

[2016-12-06 13:15] jlengstorf commented on #27
@nauerz-ibm Assigning to you for now. If this is a better question for @krook or @mrutkows, please assign to whoever makes this call.

[2016-12-06 13:25] jlengstorf commented on #34
@yumeforever Assigning to you for review. This is up at https://pages.github.ibm.com/Bluemix/developer.ibm.com-openwhisk/faq

[2016-12-06 13:43] jlengstorf commented on #29
@yumeforever I think the Contributors page is a little different from the others; a Contributor can be a Developer or a Service Integrator. So the copy speaks to the benefits for both groups.

The copy above shows benefits to these groups in this order:

1. Developers who build their own tools and want people to use them. (CTA => how to publish an action?)
2. Apps and services who want to use Open

[2016-12-06 13:44] nauerz-ibm commented on #37
Yes, afaik the Apache v2 is still the license of choice.
@mrutkows can confirm, for sure

[2016-12-06 13:49] jlengstorf commented on #38
@krook Added. :)

[2016-12-06 13:52] nauerz-ibm commented on #38
Looks good to me, except that I wonder whether we cannot simply use the same phrasing to explain what OpenWhisk is we have used before: "OpenWhisk is a serverless open-source cloud platform that allows you to execute code in response to events at any scale and without the need to manage servers. I.e. that it provides you with a serverless deployment and operations model hiding infrastructural comp

[2016-12-06 13:55] nauerz-ibm commented on #35
Agree to @krook
Despite that I forwarded the logos of Apache and others via mail to make sure they get included, too.

After GA we should add some textual description for each partner - instead of having logos only - to describe what exactly they are doing with OpenWhisk/jointly with us. But imho not that urgent.

[2016-12-06 13:56] nauerz-ibm commented on #22
@krook yes, already discussed this with @jlengstorf yesterday and just about two pick the best two statements :)

[2016-12-06 13:58] nauerz-ibm commented on #22
@jlengstorf

Can you pick two of thiose and adjust them to your needs:

Santander, Luis Enriquez, Head of Platform Engineering & Architecture at Santander Group (willing to talk to the press: YES)
“New architectural and computing models, such as microservices and containers are changing the way we are building our applications, but for some use cases they are not enough: thanks to serverless compu

[2016-12-06 14:03] nauerz-ibm commented on #21
@jlengstorf

Can you adjust them to your needs:

Santander, Luis Enriquez, Head of Platform Engineering & Architecture at Santander Group (willing to talk to the press: YES)
New architectural and computing models, such as microservices and containers are changing the way we are building our applications, but for some use cases they are not enough: thanks to serverless computing we can go even furt

[2016-12-06 14:05] nauerz-ibm commented on #24
@jlengstorf

Here is the first one, still searching for a second one (cannot promise I will find a proper one in time):

Altorors, Andrei Yurkevich, CTO (willing to talk to the press: UNCLEAR)
“In the Industrial Internet era, it is important to work with solutions that are flexible, easily maintained, and process data in real time,” said Andrei Yurkevich, CTO at Altoros. “In this endeavor, we are

[2016-12-06 14:05] yumeforever commented on #29
Oh.. I just saw this reply. I had a shot on this page right now at #11 .. I guess I should design this section 2 then, about the Apps and services who want to use OpenWhisk as a platform.

[2016-12-06 14:05] yumeforever commented on #11
First shot at that along with idea for QUOTE and call to actions in sections.
![contributor 2x](https://cloud.githubusercontent.com/assets/3612533/20928274/593cc158-bbc5-11e6-8b87-7e09bce24c58.png)

[2016-12-06 14:09] yumeforever commented on #24
Updated with design at #11

[2016-12-06 14:10] nauerz-ibm commented on #24
Here some statements from Twitter (wouldn't use the tweeters name):

[2016-12-06 14:11] nauerz-ibm commented on #24
If the tweets don't work pick a 2nd statement from here:
http://thenewstack.io/exploring-pros-cons-serverless-computing-ibm-openwhisk/

Let me know if all that does not work.

[2016-12-06 14:11] yumeforever commented on #24
@nauerz-ibm Isn't this too IBM driven? :/

[2016-12-06 14:11] nauerz-ibm commented on #24
Ah, that is true... better use the tweets :)

[2016-12-06 14:14] yumeforever commented on #24
@nauerz-ibm can we use the user's name? Or just the claims?

[2016-12-06 14:17] yumeforever commented on #24
@jlengstorf Is it possible to do something like that? @nauerz-ibm for the contributor page
![screen shot 2016-12-06 at 15 16 51](https://cloud.githubusercontent.com/assets/3612533/20928637/14a97a98-bbc7-11e6-99bc-0c28c9c8a3d4.png)

[2016-12-06 14:18] nauerz-ibm commented on #23
Would pick this one (but make sure to not use this at other places, too):

Altorors, Andrei Yurkevich, CTO
What excites me most is its open-source nature, which creates a foundation for a broad ecosystem of contributing parties.

Nepente, André Poleza, Co-Founder (willing to talk to the press: YES)
Their modular and effective ecosystem twisted our minds

[2016-12-06 14:32] yumeforever commented on #12
My suggestion for the design of this page
![service developer 2x](https://cloud.githubusercontent.com/assets/3612533/20929134/1ce8f042-bbc9-11e6-8403-c457c1c6c885.png)

[2016-12-06 14:32] yumeforever commented on #25
My design suggestion for this one #12

[2016-12-06 14:33] nauerz-ibm commented on #25
@jlengstorf Love the suggestion you made above... thanks for having rephrased my original input!

[2016-12-06 14:33] nauerz-ibm commented on #25
@yumeforever Love the design... go for it...

[2016-12-06 14:36] yumeforever commented on #25
@jlengstorf I think we should repeat the call to action in the bottom I just created for Contributors for those pages (Developer, Integrator and Contributor). What do you think?
If we already know what are those.
![screen shot 2016-12-06 at 15 35 52](https://cloud.githubusercontent.com/assets/3612533/20929290/c129409e-bbc9-11e6-92ab-b1b7c70160e0.png)

[2016-12-06 14:39] yumeforever commented on #12
@jlengstorf I don't think there will be a third block for this one. @krook @mrutkows can I use Apache symbol this way?

[2016-12-06 14:55] yumeforever commented on #6
Done!
Just please revise the copy, I come up with this to summarize the main points about Open Source Contributor.  Full page (missing one section) at #11
![screen shot 2016-12-06 at 15 53 58](https://cloud.githubusercontent.com/assets/3612533/20930015/4b0e441a-bbcc-11e6-8437-c060599aee89.png)

[2016-12-06 14:59] jlengstorf commented on #35
@nauerz-ibm — edits here:

Is there a process for becoming a partner? Asking them to contact us is pretty open-ended, which will probably lead to inaction in a lot of cases. If we can figure out a simple way — say a form or something — that allows interested companies to check a couple boxes to show interest rather than composing a free-form email, we'll probably see better conversion here.

[2016-12-06 15:13] yumeforever commented on #21
Design Reference for this Home update with one of the quotes
@jlengstorf @nauerz-ibm
![screen shot 2016-12-06 at 16 12 54](https://cloud.githubusercontent.com/assets/3612533/20930737/ea04d4a6-bbce-11e6-9929-6498dc5aabc2.png)

[2016-12-06 15:15] nauerz-ibm commented on #29
@jlengstorf is right when saying " I think the Contributors page is a little different from the others; a Contributor can be a Developer or a Service Integrator. So the copy speaks to the benefits for both groups."

Imho we should point out values like:
- Be part of a strong community
- Work on somehting bleeding edge
- Learn something new (have fun)
- Broaden your skillset (and improve your emplo

[2016-12-06 15:15] nauerz-ibm commented on #45
Based on @krook input we do not need an imprint at all, hence closing this issue.

[2016-12-06 15:16] #45 closed

[2016-12-06 15:18] nauerz-ibm opened #50 "Remove imprint"
Not needed as discussed in issue #45

[2016-12-06 15:20] jlengstorf commented on #6
@nauerz-ibm for copy:

If this is cool (or after you've edited), assign this issue back to me and I'll implement the design/copy.

[2016-12-06 15:26] yumeforever commented on #35
If everyone agrees:
![screen shot 2016-12-06 at 16 25 56](https://cloud.githubusercontent.com/assets/3612533/20931230/ba25dc2e-bbd0-11e6-87c3-10e3c1782499.png)

[2016-12-06 15:36] yumeforever opened #51 "Color Change on About Page"
I just revisited the About Page with the new informations and realized it was still following the previous color patterns.

First section background color is: #F0F8FD
Last section: #FFFFFF

Following reference:
![about 2x](https://cloud.githubusercontent.com/assets/3612533/20931675/1d3024d6-bbd2-11e6-8f42-7441fa6cbcd9.png)

[2016-12-06 15:37] yumeforever commented on #26
Just updated the About page with those informations here as reference:
https://github.com/openwhisk/openwhisk.github.io/issues/51#issue-193803944

[2016-12-06 15:41] krook commented on #25
@jlengstorf I agree this copy for the homepage looks good. Let's go with it.

[2016-12-06 16:19] jlengstorf commented on #28
Per Slack discussion. Can we get edits and/or an approval on this, @mrutkows?

[2016-12-06 16:24] jlengstorf commented on #35
@yumeforever We have to make the Adobe logo fit here — see #14 — which is vertical. It's going to be 5 total logos here. Would you be willing to put this together with the final logos so we can see it?

My gut says we need to drop the blue background from the logos, and maybe center them (3 in the first row, 2 in the second), but I'll trust your eye.

[2016-12-06 16:27] yumeforever commented on #46
Haha Agreed!!

[2016-12-06 16:28] yumeforever commented on #13
Done! Sorry @jlengstorf for the slightly change on the Text structure, but it was not pleasing at all :(

![events 2x](https://cloud.githubusercontent.com/assets/3612533/20933752/4f2e9f92-bbd9-11e6-8a0f-2b774f1acf92.png)

[2016-12-06 17:09] yumeforever commented on #28
Assuming we go with this idea, I was creating this visuals.
![service developer 2x](https://cloud.githubusercontent.com/assets/3612533/20935464/206ad602-bbdf-11e6-8871-0a913fa8136a.png)

[2016-12-06 17:24] yumeforever opened #52 "Review FAQ Links"
We need to review the FAQ Questions and Answers. Bluemix is everywhere and we might want to change.

[2016-12-06 17:29] yumeforever commented on #7
Guys I need help with this.
I really don't know what to create for this page. Does someone has an high level idea for me to illustrate?

@nauerz-ibm @jlengstorf

[2016-12-06 17:32] jlengstorf opened #53 "Add a section to inspire people (blog and/or tutorials)"
What would this take?

Putting this in the icebox to revisit post-launch.

[2016-12-06 17:34] jlengstorf opened #54 "Discuss the proper platform for blogging."
Options:

- Medium
- Apache blogging platform
- ???

[2016-12-06 17:50] krook commented on #32
This is also related to adding a contact address, such as help@openwhisk.org

[2016-12-06 17:50] jlengstorf opened #55 "Redirect to openwhisk.incubator.apache.org"
After launch, we need to make this happen.

[2016-12-06 17:54] jlengstorf commented on #39
We need to revisit our process for choosing channels and getting contributors to manage them. Is there Apache documentation/process in place for handling this?

[2016-12-06 18:19] krook commented on #55
There are probably a few steps we need to consider, and will rely on @mrutkows and Felix from Adobe to guide us. Such as:

- Procuring hosting resources/VM from Apache Foundation
- Configuring those resources to host our static (or dynamic) files
- Ensuring that openwhisk.org is a redirect rather than the explicit domain

[2016-12-06 18:30] mrutkows commented on #32
I believe that our "contact us" model should mirror what Cordova does here:
[https://cordova.apache.org/contact/](https://cordova.apache.org/contact/)

Specifically, and since we have only the "dev" list for now, which would mean we would have:

Development list:
- Writing to: dev@openwhisk.incubator.apache.org
- Subscribe to: dev-subscribe@@openwhisk.incubator.apache.org
- Unsubscribe to: dev-uns

[2016-12-06 18:34] krook commented on #53
This interactive NPM CLI provides a starting point: https://github.com/openwhisk/openwhisk-tutorial

[2016-12-06 18:40] krook commented on #53
@nauerz-ibm Was also going to add his ServerlessConf UK workshop materials.

[2016-12-06 19:22] krook opened #56 "Lower the barrier to getting started as quickly as possible as a developer"
Ideas:
- Should have an interactive online wsk interpreter? Similar to the [Swift Sandbox](https://swiftlang.ng.bluemix.net/#/repl)?
- Neutral page linking to online OpenWhisk providers, such as Bluemix
- Orchestrate/deploy a cluster to a cloud provider
- Links to the [Ansible playbooks](https://github.com/openwhisk/openwhisk/tree/master/ansible) on OpenStack (and someday [Kubernetes](https://gith

[2016-12-06 19:27] krook commented on #52
Should work with Bluemix offering management to ensure those specific FAQs are now addressed elsewhere on ibm.com.

[2016-12-06 19:29] krook opened #57 "Look into ZenHub access and licensing"

[2016-12-06 19:33] krook opened #58 "Adopt Apache process for managing code changes to openwhisk.org (this repo)"

[2016-12-06 19:43] krook opened #59 "Send email about the new openwhisk.org and how to contribute to dev@openwhisk.incubator.apache.org"
This should be done after launch and once we've moved to Apache web site management process.

[2016-12-06 20:50] fmeschbe commented on #30
For reference here are some guidelines as discussed:

- http://www.apache.org/foundation/marks/pmcs.html - General website branding guidelines
- http://incubator.apache.org/guides/branding.html - specific extensions for incubating projects like OpenWhisk

Please note the specific requirement of adding the incubator logo onto the site. As an example see the footer of the Hawk site: http://hawq.incu

[2016-12-07 03:29] krook opened #61 "Flesh out the README / Jekyll preview instructions if needed"
May need to enhance the steps with how to configure a local Ruby environment and check out the right branch, be it `feature/new-site` now or `ghpages` after launch.

For example, these may be needed:
`git checkout feature/new-site`
`gem install jekyll`

[2016-12-07 08:16] fmeschbe commented on #55
Infrastructure already exists at Apache for this static hosting. It is a matter of just putting the files there. Currently there are two ways how to do this as documented on the [project-site](http://www.apache.org/dev/project-site.html) page at Apache.
I suggest in the immediate short term, once this new site is finalized, we do a manual upload of the site's content to the appropriate SVN locatio

[2016-12-07 10:09] yumeforever commented on #15
If I understood well, that's how Cordova does.
apart of text, this is the only place where the logo itself appear.
If everything is ok, I think that's done.

![screen shot 2016-12-07 at 11 09 13](https://cloud.githubusercontent.com/assets/3612533/20963437/9cc7e1ac-bc6d-11e6-9a27-f7e41cc616e0.png)

[2016-12-07 12:27] jthomas commented on #53
We also maintain this list:
https://github.com/openwhisk/awesome-openwhisk

[2016-12-07 13:08] jthomas commented on #53
I've always liked the regular "This Week/Month/Quarter in <technology>" posts or newsletters.
It's a good way to help people understand what cool stuff is being built.
This could be done as a blog post.

[2016-12-07 13:46] krook commented on #54
My suggestion would be to use Medium, as it will have a broader reach than an integrated WordPress or similar setup. We could also model OpenWhisk on Cordova: https://cordova.apache.org/blog/

[2016-12-07 14:32] nauerz-ibm opened #62 "Reconfigure nameserver"
Please inform @nauerz-ibm to reconfigure the nameserver so openwhisk.com/net/org points to our new website once it is ready.

[2016-12-07 14:48] nauerz-ibm opened #63 "Promote website via social media (e.g. Twitter)"
Please inform the general public once our new website is available via social media (e.g. Twitter).

[2016-12-07 14:50] krook commented on #52
Here's my first take on what should stay and what should go:

- What is event-driven programming and serverless computing? **(link to openwhisk.org serverless page)**
- What problems does OpenWhisk solve? What can you do with OpenWhisk?
- How is it open?
- Which offerings are available?
- ~~Why wouldn’t I just get the corresponding open-source code OpenWhisk is build on and run it myself? What add

[2016-12-07 14:55] krook commented on #32
We should also sunset the Google mailing list as part of this: https://groups.google.com/forum/#!forum/openwhisk

[2016-12-07 16:30] krook commented on #18
@jlengstorf Excellent. Lots of options to consider for the later SEO pass.

These are the official trademarked images as of now. Not sure if this changes with Apache: https://github.com/openwhisk/openwhisk/tree/master/docs/images

Title for the home page should be: "Apache OpenWhisk is a serverless, open source cloud platform". Title for sub pages should be "Apache OpenWhisk for Developers", "Apac

[2016-12-07 16:32] jlengstorf opened #65 "Choose analytics tools."
- Do we need analytics for the site?
- If yes:
  - what are we tracking (e.g. pageviews, video plays, scrolling, etc.)
  - which service(s) are we using?
  - who will set up these accounts?
  - who will monitor these?

[2016-12-07 16:35] krook commented on #65
@jlengstorf Damn. You beat me to this. I was looking at the Cordova source earlier today, they use Google Analytics. We can raise on today's playback.

[2016-12-07 16:43] yumeforever commented on #10
Done and good for review. Due the time constrains that was the best I could do :) I was working during some hours to that result. Let me know if something is incorrect.
@nauerz-ibm @jlengstorf
![animation-test-regular](https://cloud.githubusercontent.com/assets/3612533/20977002/86598286-bca4-11e6-9d0e-e71144c5d42a.gif)

[2016-12-07 16:46] jlengstorf commented on #62
If it's not a problem, let's just do it now. https://openwhisk.github.io/ is already live, and the .org address currently redirects to GitHub.

This would be one less thing to worry about when we go live, and nothing breaks if the github.io site is loaded for a couple days, right?

[2016-12-07 17:00] jlengstorf commented on #18
There's not a character limit, but there's a length limit. I've used this tool to sanity check me in the past: http://www.seomofo.com/snippet-optimizer.html

[2016-12-07 17:25] mrutkows opened #70 "Need placeholder (page) to discuss Integrations"
Possible integrations we would like to eventually discuss (not comprehensive):
Node-RED, Apache Camel, Kubernetes (e.g., https://github.com/fabric8io/funktion), etc.

We would want to perhaps have a listing with abstract of each that would launch into more detailed architectural (graphic) examples of how OW integrates along with any examples, videos, blogs that go deeper.

[2016-12-07 17:30] jlengstorf commented on #15
@yumeforever Looks good to me. Adding to my dev queue.

[2016-12-07 18:38] jlengstorf commented on #7
@nauerz-ibm I'm assigning this to you first — we need to get content put together before @yumeforever can write content.

[2016-12-07 18:41] jlengstorf commented on #11
@yumeforever We still need the illustration for the service integrators section of this page. See #29 for the content.

[2016-12-07 18:42] jlengstorf commented on #12
@yumeforever There's a third section now. See https://github.com/openwhisk/openwhisk.github.io/issues/28#issuecomment-265194377 for the copy.

[2016-12-07 19:09] krook commented on #7
**Title**
What Is Serverless Computing, and Why Should I Care?

**Lede (remove second paragraph if space is a concern) **
Apache OpenWhisk is a serverless, open source cloud platform that executes functions (called actions) in response to events (called triggers) without developer concern for managing the lifecycle or operations of the containers that execute the code.

There are several technical

[2016-12-07 19:23] jlengstorf opened #73 "Add the mailing list to the "Need another question answered?" FAQ section"
We first need to add a page detailing how to sign up for the mailing list. Once that exists, we need to link it from the FAQ section.

[2016-12-07 19:26] jlengstorf opened #74 "Add a page detailing mailing list sign-up."
This doesn't exist anywhere as of now. We should use Cordova as an example.

- [ ] Create the content for the page
- [ ] Figure out where to put it in the nav

Tagging @krook, @mrutkows, @nauerz-ibm for feedback.

[2016-12-07 19:27] krook commented on #62
We agreed on the playback to do this sooner rather than later for several key reasons:

- It allows us to post to the Apache OpenWhisk dev mailing list for feedback earlier
- It affords us time to approve analytics tracking concerns
- It allows us to serve the design via GitHub pages immediately

[2016-12-07 19:34] jlengstorf commented on #48
I added a link in the FAQ (see #75).

[2016-12-07 19:37] jlengstorf commented on #29
@nauerz-ibm I tried to call out to those benefits in the copy above, but space is limiting and I was worried about reducing the copy to a meaningless ball of buzzwords. If you want to take a crack at editing any of the sections, I'm game.

In the meantime, I'm going to put the copy in place as-is so we can soft launch.

[2016-12-07 20:22] krook opened #77 "Add tags for "feature" and priority (e.g. "high", "medium", "low") for issues."

[2016-12-07 20:23] jlengstorf opened #78 "Add illustration for "share your service" section of Contributors page."
- [x] Create illustration (@yumeforever)
- [ ] Update the code (@jlengstorf)

[2016-12-07 20:27] jlengstorf commented on #61
The `feature/new-site` part won't be relevant once we merge to master, but I'll update the Jekyll thing.

[2016-12-07 20:29] krook opened #80 "Review font licensing to determine whether we can use"
Question from @fmeschbe: What is the license situation for the fonts ? Do we have a license to use them on our site ?

[2016-12-07 20:32] krook opened #81 "Confirm original HTML/CSS and/or whether boilerplate is properly reused"
Question from @fmeschbe: Other pieces like CSS and HTML source are probably built specifically for the site and thus ok as well.

[2016-12-07 20:53] jlengstorf opened #83 "Remove Helvetica Neue for IBM, reset to sans-serif"
Let's just use `font-family: sans-serif` instead of IBM's Helvetica version for body copy. Better load times + no legal hassles. Everybody wins!

![giphy-13](https://cloud.githubusercontent.com/assets/163561/20986106/34ec0496-bc95-11e6-81b6-9a04bd141c3b.gif)

[2016-12-07 20:54] jlengstorf commented on #80
Current fonts are:

- [Lato](https://fonts.google.com/specimen/Lato), which is under the [Open Font License](http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web) — I'm not a lawyer, but I'm _pretty_ sure that's super permissive as licenses go.
- Helvetica Neue for IBM, which we probably ought to drop in favor of standard sans-serif. I doubt anyone but @yumeforever and I will notice

[2016-12-07 21:14] nauerz-ibm commented on #62
Done.

[2016-12-07 21:14] #62 closed

[2016-12-07 21:34] jlengstorf commented on #81
I'm not sure what "boilerplate is properly reused" means — is there something I was supposed to build on?

The site's tech stack is:

- [Jekyll](http://jekyllrb.com/) for static site generation with GitHub Pages (MIT license)
- HTML and CSS are from scratch — no frameworks or boilerplates
- All tools for the build pipeline are MIT licensed

[2016-12-07 21:35] #3 closed

[2016-12-07 21:35] #4 closed

[2016-12-07 21:35] #5 closed

[2016-12-07 21:35] #20 closed

[2016-12-07 21:35] #34 closed

[2016-12-07 21:35] #22 closed

[2016-12-07 21:35] #23 closed

[2016-12-07 21:35] #24 closed

[2016-12-07 21:35] #25 closed

[2016-12-07 21:35] #26 closed

[2016-12-07 21:35] #40 closed

[2016-12-07 21:35] #43 closed

[2016-12-07 21:35] #47 closed

[2016-12-07 21:35] #50 closed

[2016-12-07 21:35] #51 closed

[2016-12-07 21:35] #10 closed

[2016-12-07 21:35] #12 closed

[2016-12-07 21:35] #15 closed

[2016-12-07 21:35] #28 closed

[2016-12-07 21:35] #29 closed

[2016-12-07 21:35] #52 closed

[2016-12-07 21:37] #30 closed

[2016-12-07 21:52] jlengstorf opened #85 "Hide the home page video section until the new one is ready"
Just so we don't have placeholder text on the home page, let's hide this section while we wait for the new video.

[2016-12-08 00:19] jlengstorf commented on #37
This may need revision: https://github.com/openwhisk/openwhisk.github.io/blob/master/LICENSE.txt#L190

(It says copyright IBM.)

[2016-12-08 00:23] jlengstorf commented on #37
Other places where IBM is listed as the copyright holder or mentioned in an ownership capacity:

- https://github.com/openwhisk/openwhisk.github.io/blob/master/README.md#license
- https://github.com/openwhisk/openwhisk.github.io/blob/master/CONTRIBUTING.md#contributor-license-agreement

[2016-12-08 00:25] jlengstorf commented on #77
Done.

[2016-12-08 00:25] #77 closed

[2016-12-08 00:46] jlengstorf opened #92 "Consider narrower content display area for text-heavy pages."
I'd like to get another designer's eye on it, but on text-heavy pages I think it might be a good idea to narrow the content column (see attached screenshot). This makes it a little easier to read the copy, and looks a little tighter, I think.

![serverless](https://cloud.githubusercontent.com/assets/163561/20993012/be2fde56-bcb5-11e6-8bab-80254f55320d.png)

I've got a branch ready to send in for a

[2016-12-08 01:47] jlengstorf opened #95 "Add a check for quote fader to only initialize if a fader exists on the page."
Currently getting console errors.

[2016-12-08 09:19] fmeschbe commented on #81
Thanks @krook  and @jlengstorf.

* The tool chain is less of an importance as long as we have the right to use it. So this is green.
* The HTML and CSS being from scratch means we are green here as well.

Therefore, I think we properly did the diligence on this topic and can resolve this issue.

[2016-12-08 09:20] fmeschbe commented on #80
Thanks @jlengstorf  and @krook. This sounds good to me and we are green here.
I agree that this can be resolved.

[2016-12-08 10:57] jthomas commented on #56
I know @mrutkows had someone working on a clone of the interactive Docker tool for OpenWhisk.
https://github.com/openwhisk/openwhisk-tutorial

It was running at https://learnwhisk.mybluemix.net/#0 but it wasn't clear whether this was a permanent URL.

It's a brilliant tool.

[2016-12-08 10:59] jthomas commented on #56
I think having a "Getting Started" page rather than linking straight into the open-source docs would make an easy onboarding experience.

It could have steps for deploying it yourself or linking to the current providers.

[2016-12-08 13:02] yumeforever commented on #80
@jlengstorf Nailed it here https://github.com/openwhisk/openwhisk.github.io/issues/83

[2016-12-08 13:28] yumeforever commented on #14
I finished this one and also exported those logos already.
Please let me know, if those logos are correct. Specially Adobe and Apache, if it is ok to use them like that. From what I found online on their website it looks fine.

exported assets: https://ibm.box.com/s/dtup9jgeqixed7r9hchezmapnx49mpmp

![screen shot 2016-12-08 at 14 26 00](https://cloud.githubusercontent.com/assets/3612533/21011622/6

[2016-12-08 13:57] yumeforever commented on #92
I am down to this 🙌 if you expand the top and bottom margins for this quote by double.
I am really stuck with this illustration though.

[2016-12-08 14:22] jlengstorf commented on #81
Great news, @fmeschbe! Closing this.

[2016-12-08 14:22] #81 closed

[2016-12-08 14:31] jlengstorf commented on #80
Thanks, @fmeschbe and @yumeforever! Closing this.

[2016-12-08 14:31] #80 closed

[2016-12-08 14:34] jlengstorf commented on #92
@yumeforever How's this?

<img width="1024" alt="screencap-by-jlengstorf 11" src="https://cloud.githubusercontent.com/assets/163561/21013831/739ba6a8-bd29-11e6-82ff-735fc01dc4bb.png">

I'll take a look at the articles from @krook and see if I see anything that might work in the style you've been using on the site.

[2016-12-08 14:59] jlengstorf commented on #92
So, what I see as the biggest benefit offered by serverless is the time and effort saved by using it.

In @krook's [article](https://developer.ibm.com/opentech/2016/09/06/what-makes-serverless-attractive/), he talks about "12 Factor Apps", and shows how a serverless approach handles 8 of 12 factors out of the box — which means a developer using serverless has 75% fewer things to worry about when w

[2016-12-08 15:04] jthomas commented on #19
AWS Lambda has a good example of this:
https://aws.amazon.com/lambda/

[2016-12-08 15:06] jthomas opened #98 "Add "Tutorials & Examples" section."
Once I understand what OpenWhisk is, I want to learn how to use it.
Going past the usual "Hello World" samples, it would be great to have a few tutorials for particular use-cases to highlight key features of the platform.

People have already created some awesome demos with OpenWhisk, maybe we could merge that content into the site for a quick win?

[2016-12-08 15:07] #95 closed

[2016-12-08 15:07] #21 closed

[2016-12-08 15:07] #85 closed

[2016-12-08 15:08] #13 closed

[2016-12-08 15:08] #7 closed

[2016-12-08 15:08] #70 closed

[2016-12-08 15:08] #61 closed

[2016-12-08 15:08] #6 closed

[2016-12-08 15:09] #27 closed

[2016-12-08 15:09] #83 closed

[2016-12-08 15:09] jthomas opened #99 "Add existing material to "Events" page."
It would be good to have the Events page list upcoming sessions and material from previous sessions.

We have lots of videos, slides and resources available from talks people have done in 2016.
https://github.com/openwhisk/awesome-openwhisk#media

Could pick the best examples and add them to the site? Use embedding widgets from Youtube to show the videos inline.

[2016-12-08 15:16] krook commented on #99
Related to #48

[2016-12-08 15:24] jlengstorf opened #100 "Proposal: Hide Developers, Service Integrators, and Contributors nav items on smaller viewports."
Since the home page directs people to the various use cases with big ol' buttons, and since [hamburger navs are _awful_ for UX](https://www.nngroup.com/articles/killing-global-navigation-one-trend-avoid/), I think we can buy back some screen real estate on smaller viewports by hiding these nav items.

This would _only_ happen when horizontal space is too limited to display the full nav.

This affe

[2016-12-08 15:29] jlengstorf commented on #99
I think a great first step would be to compile links to these tutorials. Do you have them, @jthomas?

I'll assign this to you for now, but feel free to reassign if someone else is better-suited to compile the links.

[2016-12-08 15:31] jlengstorf commented on #98
Same as #99, would you be able to pull together a list of the existing demos? That'll help us have a discussion about how to incorporate them into the site.

[2016-12-08 15:35] jthomas commented on #100
:+1: on this. I'd find it difficult to hit the links on a mobile screen from this header section.

[2016-12-08 15:37] jlengstorf commented on #14
I think this is fine. I'll finish #35 and close this with a PR.

[2016-12-08 16:31] jlengstorf opened #102 "Add illustration for the serverless page."
- [ ] Create the illustration (@yumeforever)
- [ ] Add the illustration to the page (@jlengstorf)

Breaking this out from the discussion on https://github.com/openwhisk/openwhisk.github.io/issues/92#issuecomment-265760375

Original comment:

[2016-12-08 16:33] jlengstorf opened #103 "Track JavaScript in Git"
The bundled JS needs to be tracked in Git, or else it's not available on GH Pages. (Duh.)

Remove `js/` from `.gitignore` and commit it.

[2016-12-08 16:42] andreasnauerz opened #104 "Provide access to samples"
Provide access to samples that have already been developed and people may want to have a look at to learn what others have done with OpenWhisk (like DarkVision, Skylink, etc.).

Please close if this is a dup.

[2016-12-08 16:45] andreasnauerz opened #105 "Describe more concrete use-cases"
Provide access to more concrete use-cases so people can better understand what they can do with OpenWhisk. For instance, show that mobile developers can outsource compute-intensive tasks from the mobile to a scalable cloud platform - even without the need to learn anything new as they can continue coding even in Swift.

Please close if this is a dup.

[2016-12-08 16:46] mrutkows opened #106 "Feature: Integrate the OW API Tutorial"
Pre-requisite: Of course need to have a hosting environ. by apache infra. team (after we fill out the required requests) before this issue can be addressed where we can run the node.js server that runs the JS code.

We would want to integrate a link to the API tutorial someplace

[2016-12-08 16:46] andreasnauerz opened #107 "Embed the interactive learning platform learnwhisk"
Embed (or at least link to) this: https://learnwhisk.mybluemix.net/#0

Please close if this is a dup.

[2016-12-08 16:46] jlengstorf commented on #56
Most users will be interested in technical features — we need to make sure that's accessible and prominent.

[2016-12-08 16:48] andreasnauerz opened #108 "Embed a sandbox"
Embed a sandbox like the Swift guys have, too allowing people to play around with OpenWhisk hands-on.

Please close if this is a dup.

[2016-12-08 16:58] jlengstorf opened #109 "[EPIC] Incubator Bootstrapping"

[2016-12-08 18:02] krook opened #110 "Should add a widget to "edit this page" to clearly show that openwhisk.org is open as well"
Link to the source file on GitHub. Need to ensure that Apache contribution process is clear as well.

[2016-12-08 18:24] krook opened #111 "Update wording on serverless page to reflect benefits more clearly"

[2016-12-08 18:47] #92 closed

[2016-12-08 19:00] jlengstorf opened #114 "Fix "contact us" link on Partners page."
Once the mailing list page exists (#74), we need to fix the link on the partners page added in #113.

[2016-12-08 19:07] jlengstorf commented on #111
Closed by #112

[2016-12-08 19:07] #111 closed

[2016-12-08 19:30] jlengstorf commented on #32
@mrutkows Okay — I just pushed a commit (15551dd) with the beginnings of the content for this page, but I need some help. What's the link for the online archive? I tried manipulating the Cordova archive links, but I wasn't able to figure out what our list is called.

Cordova link: <http://callback.markmail.org/search/?q=#query:%20list%3Aorg.apache.incubator.callback-dev+page:1+state:facets>

Or sh

[2016-12-08 20:12] #103 closed

[2016-12-08 20:13] #35 closed

[2016-12-08 20:13] #114 closed

[2016-12-08 20:13] jlengstorf commented on #32
@mrutkows Here's the live page: http://openwhisk.org/contact

[2016-12-08 20:19] jlengstorf opened #117 "Add a favicon"
Getting 404 console errors due to missing favicon. Let's use https://realfavicongenerator.net/ to create one.

[2016-12-09 10:19] jthomas commented on #106
We should also have a few people beta-test it once it's running and see if any of the steps need updating.

[2016-12-09 11:36] jthomas commented on #98
Here's a list of the most interesting demos...

https://github.com/IBM-Bluemix/skylink
https://github.com/IBM-Swift/BluePic
https://github.com/krook/openfridge
https://github.com/krook/openchecks
https://github.com/krook/owplan
https://github.com/jthomas/microservices_without_servers/tree/master/code/weather_bot

[2016-12-09 11:44] jthomas commented on #99
Looking over the list of videos, here's a nice selection:

Good overview of the project from @krook, short and longer verions....
https://www.youtube.com/watch?v=sYRiTZ47Cao
https://www.youtube.com/watch?v=C3PPmlUkarY

This is the best video of my serverless talk: https://www.youtube.com/watch?v=t4-a8H_zT54
It's a longer talk including the history of serverless and a demo session.

The OpenWhisk t

[2016-12-09 14:44] krook opened #120 "Replace "open-source" with "open source" site wide"

[2016-12-09 14:45] krook opened #121 "Reword home page persona text"

[2016-12-09 15:16] jlengstorf opened #123 "Improve navigation to make the site more useful for people."
## The Problem

As it stands, I think our navigation reads more like a press release than the nav for a site aimed at onboarding new people into the Apache OpenWhisk community.

We feature events and partners, but we don't actually reference documentation or getting started — that's all buried somewhere, and those links are to raw Markdown files located deep in a GitHub repo.

**We can do better.*

[2016-12-09 15:23] jlengstorf commented on #120
So... stylistic, grammar-nerd argument.

The way we're using it, "open-source" is an adjective. It _needs_ to be hyphenated because it doesn't make sense if it's not intact; the hyphen designates "open-source" as a single, descriptive entity.

Without hyphenation, we end up with two adjectives and a comma problem: "open source software", grammatically speaking, should be "open, source software".

[2016-12-09 15:29] #117 closed

[2016-12-09 15:29] #8 closed

[2016-12-09 15:33] krook commented on #120
@jlengstorf Ha. Point taken, but I think with open source here we should keep it consistently non hyphenated so it's consistent when used as adjective or noun across the site. Have you read this far without twitching about "non hyphenated"? :)

[2016-12-09 15:38] krook commented on #120
The dW style guide makes a good suggestion, though it is an IBM specific resource I think it's consistent with industry usage:

https://www.ibm.com/developerworks/library/styleguidelines/

open source [n., adj.]
But Open Source Initiative, Open Source Definition. Note: no hyphen for adjective form.

[2016-12-09 15:38] jlengstorf commented on #120
@krook You're cruel. But that's fair.

[2016-12-09 15:48] jlengstorf commented on #121
Closed by #122.

[2016-12-09 15:48] #121 closed

[2016-12-09 15:58] krook opened #124 "Remove extra periods on homepage"
There are periods in the persona titles,

[2016-12-09 16:17] #100 closed

[2016-12-09 16:19] #124 closed

[2016-12-09 16:29] krook commented on #123
@jlengstorf @jthomas @nauerz-ibm @mrutkows

@jlengstorf I assume what you mean by a problem with the docs is that we point directly to GitHub READMEs over on the main repo instead of hosting user friendly versions on this site? Rather than importing those materials into this site repo, what if for now we just create meta pages that then point to those pages (digesting the content if needed)? These

[2016-12-09 17:30] jlengstorf commented on #46
So, an idea for dog-fooding this with OpenWhisk:

- If we can figure out an easy-to-manipulate-with-code format, we can effectively create an action sequence in OpenWhisk that would do something like this:

1. Event is fired by whatever API we're watching for new events.
2. Action to process that event is called, giving us a new event in a common format.
3. Action to edit the events page is called

[2016-12-09 17:39] #36 closed

[2016-12-09 17:39] #2 closed

[2016-12-09 17:42] jlengstorf commented on #14
Closed by #113

[2016-12-09 17:42] #14 closed

[2016-12-09 17:43] jlengstorf commented on #32
I'm going to close this since the page exists as of #116. If we need to edit the content, let's open a new issue.

[2016-12-09 17:43] #32 closed

[2016-12-09 17:44] krook commented on #46
I like this, but agree, it has to be in some sort of predictable format like an API. Let's start small with the Meetup API and search for keywords.

I played around with something similar before, but never deployed it. It basically was invoked via cron and saved results to a file, which were then included as a WordPress snippet.

It looked something like this. We can use `request` in a NodeJS acti

[2016-12-09 17:46] jlengstorf commented on #38
@nauerz-ibm Assigning this to you for changes. Make whatever edits you think are relevant and send as a PR. Or, if you think we're okay, you can close this. Thanks!

[2016-12-09 17:47] krook opened #129 "Add a link to the mailing list archive page on openwhisk.org/contact"
http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/

[2016-12-09 17:49] jlengstorf commented on #18
There's now support for `seo_title` on all pages. This will be displayed as the title for search results and as the tab title. The `title` is still used as the main page heading.

[2016-12-09 17:52] jlengstorf commented on #11
Opened a separate issue #78 for the final illustration. Closing this.

[2016-12-09 17:52] #11 closed

[2016-12-09 17:54] jlengstorf commented on #17
Everything in this epic is complete, so I'm closing it.

[2016-12-09 17:54] #17 closed

[2016-12-09 17:57] jlengstorf commented on #74
This was added in #116.

Discussion about the nav is happening in #123.

Closing this.

[2016-12-09 17:57] #74 closed

[2016-12-09 17:59] jlengstorf commented on #31
All issues have been completed or moved to a new epic. Closing this.

[2016-12-09 17:59] #31 closed

[2016-12-09 18:14] jlengstorf commented on #48
There's an issue discussing how to incorporate content like this (#123). Let's focus discussion there to keep it in one place for now.

[2016-12-09 18:16] jlengstorf commented on #63
@krook Should we make the announcement?

We could also encourage people to get on the dev mailing list and check out our open issues to get involved. I'm working on an email for the dev list (#59) that will do that same.

[2016-12-09 18:17] jlengstorf commented on #9
This is being discussed as part of #123. Let's keep the discussion there to keep things in one place.

[2016-12-09 20:08] #18 closed

[2016-12-09 20:08] #73 closed

[2016-12-09 20:22] jlengstorf commented on #99
Discussion about this has been opened on #123. Let's keep comments there for simplicity.

[2016-12-09 20:32] jlengstorf commented on #98
Discussion about this has been opened on #123. Let's keep comments there for simplicity.

[2016-12-09 20:32] jlengstorf commented on #108
Discussion about this has been opened on #123. Let's keep comments there for simplicity.

[2016-12-09 20:33] mrutkows opened #134 "Need to add (TM) to Apache OpenWhisk logos"
As we have sought (filed for) intl. trademark of the OpenWhisk name, we have been advised to add the letters 'TM' to any use of the OpenWhisk logo.

Jason showed me a preview of what it would look like here:
![image](https://cloud.githubusercontent.com/assets/7816715/21063633/45382b76-be1c-11e6-8dac-96d7d68d6f73.png)

Which would be great.  If we could also get a few PNG/JPG versions at commonly u

[2016-12-09 20:33] jlengstorf commented on #53
There's an epic discussing how to incorporate content like this (#123). Let's focus discussion there to keep it in one place for now.

[2016-12-09 20:40] mrutkows opened #135 "Absorb "awesome-openwhisk" repo. contents"
The "awesome-openwhisk" repo. (under OpenWhisk) is quote "Curated list of awesome OpenWhisk things ".

It's link is here for convenience: https://github.com/openwhisk/awesome-openwhisk

We will want to absorb this list into the openwhisk.github.io and delete this repo. when completed.

[2016-12-09 20:57] #129 closed

[2016-12-09 20:59] jlengstorf commented on #48
@mrutkows just opened an issue to actually _absorb_ this repo, so I'm closing this one in favor of #135.

[2016-12-09 20:59] #48 closed

[2016-12-09 21:05] #134 closed

[2016-12-09 21:19] jlengstorf commented on #57
If I'm reading this correctly, it just works for public repos: https://www.zenhub.com/blog/open-source/

[2016-12-09 21:48] krook commented on #120
@jlengstorf You lost this battle, but you won the event-driven and cloud-native campaigns.

[2016-12-09 23:35] krook commented on #135
I think the best approach is to cherry pick content referenced from Awesome OpenWhisk and use it where it adds value here as mentioned in #48.

That list as it stands is in the tradition of GitHub "Awesome" (and developerWorks "Recommended Reading") lists.

If it doesn't remain within the openwhisk organization on GitHub it should move back to James Thomas' personal repo.

[2016-12-10 00:08] #57 closed

[2016-12-10 00:09] #120 closed

[2016-12-12 14:24] yumeforever opened #139 "Change text for Left-Indent on all pages"
Change the Indent for the text because the illustrations are on the right or left is often not good for readability, I would prefer for this piece to keep the text always aligned left on those blocks of content from *Developers*, *Integrators* and *Contributor*.

[2016-12-12 14:46] yumeforever commented on #78
Done! :) SVG on Share-your-service.svg https://ibm.box.com/s/hbmelj1zovhj3pahrbq882a1wfiu6ehm

<img width="913" alt="screen shot 2016-12-12 at 15 44 39" src="https://cloud.githubusercontent.com/assets/3612533/21103251/ea3add50-c081-11e6-978b-f29238326cc3.png">

[2016-12-12 16:04] #139 closed

[2016-12-12 16:15] jlengstorf commented on #59
@krook @mrutkows So, I don't know that I _can_ email the dev list. I tried to respond to a message earlier, and since IBM's mail is only `text/html`, the dev list rejected it. I can't find a setting to change to `text/plain`, so... I don't know how to send a message.

[2016-12-12 17:19] #78 closed

[2016-12-13 20:38] krook commented on #65
Until we move to the new Apache hostname, we'll use this Google Analytics information. The account will be transferred at a later time.

[code]

@jlengstorf Can you please add this to the footer?

[2016-12-13 20:40] #65 closed

[2016-12-14 13:43] krook opened #144 "Make various content and documentation updates"

[2016-12-14 15:41] #144 closed

[2016-12-16 14:41] triceam opened #146 "Bigger blog link"
The link to the blog in Medium is really easy to miss.  Can we make it bigger.  The current link is a tiny "M" that is hard to see.  I think we'll get more traffic by making it more obvious.

[2016-12-16 18:41] jlengstorf commented on #146
I think this is a great idea. Looks like @krook already added it to #123, but I'd also like to chime in and encourage any further discussion about this to happen on #123 itself in the interest of keeping everything in one place.

[2016-12-16 18:56] jlengstorf commented on #123
@krook Sorry, I missed your reply previously.

I like this idea for some of the content (e.g. Docs), but most of it needs to live on-site.

Resources will effectively be a list of links anyways, so having a digest for a digest seems unwise. Community is really just an expanded contact page, so it's also more of a digest by nature.

**Getting Started is probably the biggest issue**, because it's go

[2016-12-21 13:56] krook opened #147 "Add link to the OpenWhisk tutorial"
https://github.com/openwhisk/openwhisk-tutorial

As discussed on the dev@ mailing list: http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/201612.mbox/browser

Related to #108 and #123

[2016-12-21 14:03] krook opened #148 "Pages should say indicate that Apache OpenWhisk is incubating"
As raised on the mailing list: http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/201612.mbox/browser

[2017-01-10 19:24] #63 closed

[2017-01-10 19:27] krook commented on #148
Bertrand Delacretaz wrote

[2017-01-10 22:25] #148 closed

[2017-01-11 14:24] krook opened #152 "Update copyright notices to include 2017"

[2017-01-11 14:28] krook opened #153 "Update this repo name and description to use the openwhisk.org name rather than openwhisk.github.io"
May need to update again in the future to include apache.org domain, but for now at least stop referring to github.io.

[2017-01-11 14:29] krook commented on #153
Will renaming the repo cause any issues? If so, at least the description should be updated if not the repo.

[2017-01-11 14:51] krook opened #154 "Add link to the Apache Confluence wiki"

[2017-01-11 14:51] krook commented on #154
Should also add topic info the Slack channel.

[2017-01-11 15:43] krook commented on #154
https://cwiki.apache.org/confluence/display/OPENWHISK/OpenWhisk+Home

[2017-01-11 17:00] mrutkows commented on #153
I wondered if a rename would cause issues for GitHub publishing?  If not, we should rename to be conformant to our policy. i.e., openwhisk-xxx  to be something like openwhisk-website <or> openwhisk-openwhisk.org etc.

[2017-01-11 20:50] jlengstorf commented on #153
No issues with the code itself. Just make sure to do a find-and-replace in anything that refers to this repo, and update your git remotes.

[2017-01-11 21:05] krook opened #155 "Fix margins on the About and FAQ pages"
Need to update the generic template.

[2017-01-11 21:21] krook commented on #154
@mrutkows What sort of text should we add describing the purpose of this wiki and its intent relative to other channels of info?

[2017-01-11 21:27] krook commented on #123
@jlengstorf We've been adding quite a few more posts to Medium this month. How would you suggest we improve the social media icon visibility as mentioned in #146?

I assume we don't need to edit the icon SVGs to make larger sizes, but rather just scale the image tags? What's the best guidance? Seems like several approaches are available: https://css-tricks.com/scale-svg/

[2017-01-11 21:35] #155 closed

[2017-01-11 21:35] #110 closed

[2017-01-12 14:32] krook commented on #153
@jlengstorf Thanks for the confirmation. Let's not invest too much time given the slight risk to do that though.

@mrutkows At least let's change this repo description text. I don't have admin rights to do that, but it's the banner that reads "OpenWhisk website https://openwhisk.github.io" under the tabs.

[2017-01-13 18:11] mrutkows commented on #153
We will need to change the name sooner than later and see where we self reference the repo. name as part of ASF migration.  In the meantime I will update the description. @krook

[2017-01-13 21:37] jlengstorf commented on #123
@krook Those sizes are set in CSS, so you can manipulate them to whatever size you want. Be careful of going too large, though, or they'll look awful on smaller screens.

[2017-01-13 21:59] jlengstorf commented on #123
@krook I played with the inspector to make sure I'm not misleading you. Make sure you target the social nav only. I'd add the following on about line 98 of [_site-nav.css](https://github.com/openwhisk/openwhisk.github.io/blob/master/_scss/block/_site-nav.scss):

[code]

Gives you something like this:

![screencap by jlengstorf 39](https://cloud.githubusercontent.com/assets/163561/21947139/3d3c50b6

[2017-01-16 13:44] wikier opened #158 "Re-brand partners section"
As started to discuss with PR #157, we need to re-brand the current partners section to have something more community oriented.

[2017-01-24 12:47] yumeforever opened #160 "Typography Improvement"
Hello guys,
To improve readability of the text, I would like to suggest a quick change from Lato Sans Light to Regular.
https://fonts.google.com/specimen/Lato

Cheers,
Morgana

[2017-01-24 13:57] mrutkows commented on #160
Hi Morgana, can you tell us what file(s) this would be set in (CSS?).

[2017-01-24 14:57] mrutkows opened #161 "Add new Slack link (and perhaps autoinvite link)"
We have a new slack team name and auto-invite link...
https://openwhisk-team.slack.com

auto-invite: https://csantanapr.github.io/openwhisk-slackinvite/

[2017-01-26 08:00] nauerz-ibm commented on #161
Ah, great @mrutkows.
Was just about to open a similar issue when I found yours.

I assume we will also fix the link the Slack icon at the very top of our site currently points to with this issue as well?

[2017-01-26 10:53] andreasnauerz opened #162 "Set up custom domain for our medium.com"
We currently blog about OpenWhisk via medium.com where we can be reached via https://medium.com/openwhisk
This is also where we link to from openwhisk.org

Wouldn't it be cooler to use a domain like openwhisk.org/blog instead?

Seems to be possible:
https://help.medium.com/hc/en-us/articles/214110127-About-custom-domains

Thoughts?

[2017-01-26 10:57] nauerz-ibm opened #163 "Add Slack integrations (e.g. to track questions on platforms like Stackoverflow)"
In the past we have been working with Slack integrations (webhook based) to continuously track discussions (related to OpenWhisk) on other platforms, e.g. questions that arose on platforms like Stackoverflow.

That way we can make sure that we don't miss interesting discussions as well as people being generally interested and can make sure we are able to provide immediate help (by pointing to docu

[2017-01-26 11:00] andreasnauerz opened #164 "Add all InterConnect sessions to events page"
Once the set of serverless/OpenWhisk related InterConnect sessions has been announced, we should add all of them to the events page (in addiition to the currently available generic link to the IC homepage) to actively promote them.

[2017-01-26 16:32] csantanapr commented on #161
I proposed we move the url and repo to OpenWhisk Organization, This will change the url from https://csantanapr.github.io/openwhisk-slackinvite to => https://openwhisk.github.io/openwhisk-slackinvite

[2017-01-26 16:39] nauerz-ibm commented on #161
In case someone wants me to apply changes to the NS just let me know.

[2017-01-26 16:41] csantanapr commented on #163
I think this a duplicate of #161 ?

[2017-01-26 16:42] csantanapr commented on #161
@nauerz-ibm I think would be nice to have slack.openwhisk.org map to => https://openwhisk.github.io/openwhisk-slackinvite in the NS

[2017-01-26 16:43] nauerz-ibm commented on #161
Will make this happen asap and let you know once done.

[2017-01-26 16:44] csantanapr commented on #161
Can it be configured in a way that the url sticks on slack.openwhisk.org and it doesn't show  the full url with github.io?

[2017-01-26 17:05] csantanapr commented on #161
@nauerz-ibm I think since our main host openwhisk.github.io is already configured with CNAME for openwhisk.org, then any our repos the gh-page will be published to openwhisk.org/$repo

In this case the new Slack Invite Location is
https://openwhisk.org/openwhisk-slackinvite/

If I use http and routes to https for some reason.
This cause a problem since we don't have ssl certs in place to serve htt

[2017-01-26 17:07] csantanapr commented on #161
@jlengstorf do you know how can serve http instead of https http://openwhisk.org/openwhisk-slackinvite ?

Maybe just adding the CNAME in the repo?

[2017-01-26 17:11] csantanapr commented on #161
Nevermind this is working now, I think it was my browser acting up http works
http://openwhisk.org/openwhisk-slackinvite

[2017-01-26 17:14] csantanapr commented on #161
OK last Try I think I got, since I think @nauerz-ibm did the CNAME change

This is the link
http://slack.openwhisk.org

[2017-01-26 17:27] mrutkows commented on #161
I view the invite link as a convenience, should we not just supply the actual link to the Slack team?  i.e., http://openwhisk-team.slack.com (sign in page, also has a "Create account" link)

[2017-01-26 17:30] csantanapr commented on #163
This is fix now

[2017-01-26 17:30] #163 closed

[2017-01-26 18:23] csantanapr commented on #161
@mrutkows I having slack.openwhisk.org is better and more open anyone can join, and we don't have to manage the email domains that are allowed to join.

The current Slack icon link I think it should take people to slack.openwhisk.org

The email they get from Slack, will guide them to create a Slack account if they don't already have one.

But again I don't have any problem if you want to add the l

[2017-01-30 22:28] mcwhittemore opened #166 "Gender representation on the home page"
I just found out about this via the `serverless` email announcement. Really sweet stuff here, thanks for all the hard work.

When scrolling down the Home page I noticed that most of the people appear to be male. I'll be the first to admit that this is my own basis at looking at these images, but I thought I'd mention it if only to have this closed with some note about how I'm wrong.

Specifically,

[2017-01-31 14:45] krook commented on #166
@yumeforever Is this something you can look at?

[2017-01-31 15:10] rabbah opened #167 "SSL certificate is not valid?"
https://openwhisk.org/ reports an invalid certificate.

[2017-01-31 15:27] csantanapr commented on #166
@mcwhittemore Thanks for bringing this up, I have not art skills , but I'm afraid I will do a terrible job using gimp :-)

I think @yumeforever could look into finding a way to update it.

[2017-01-31 15:35] mcwhittemore commented on #166
@csantanapr - I thought about trying to make the PR myself but my gimp skills leave much to be desired too.

Its cool to see so traction here.

[2017-02-01 14:43] krook commented on #167
We need to get a certificate and work to configure GitHub Pages if needed.

[2017-02-01 15:09] mrutkows commented on #167
SSL certs. for custom domain discussion... https://gist.github.com/coolaj86/e07d42f5961c68fc1fc8

[2017-02-01 20:34] csantanapr opened #168 "Social Icons at the header and footer way too small to see"
Make them larger
![image](https://cloud.githubusercontent.com/assets/1094878/22525107/f1997db0-e893-11e6-92b4-fbf5ca7a905c.png)

[2017-02-01 20:43] krook commented on #158
@wikier Here is a proposal we can discuss on the dev list:

1. Change "partners" to "supporters"
2. Agree that nobody gets listed by default, and create guidance on how to get listed if desired.
3. Ask the existing listed partners if they still want to be included. If so, ask for a statement describing their contribution to the project.

[2017-02-01 20:43] krook commented on #168
Related to #146 and #123

[2017-02-01 21:18] csantanapr commented on #168
@krook you making a PR for the CSS change the size?

[2017-02-01 21:29] krook commented on #168
@csantanapr I had looked into how to do it a few weeks ago (https://github.com/openwhisk/openwhisk.github.io/issues/123#issuecomment-271999943). I didn't see @jlengstorf's reply to my question though. I will give it a shot now that I have the info.

[2017-02-02 15:46] krook commented on #58
Discussion started on the dev mailing list: http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/201702.mbox/browser

[2017-02-02 15:49] wikier commented on #158
Sound reasonable, @krook.

I still don't like "supporters" at all, but unless some comes up with a better idea, I guess we could go with that for now.

[2017-02-02 15:52] krook opened #170 "Address web site requirements for Graduation from the Apache Incubator"
The requirements and guidelines are listed here: http://incubator.apache.org/guides/sites.html

As we address these requirements and guidelines, we should also ensure that they help us effectively achieve our community building goals as described in Issue #123.

We should track progress in a Markdown checklist in a file such as `APACHE_WEBSITE_REQUIREMENTS.md`.

[2017-02-02 16:47] mrutkows commented on #170
or on our CWIKI: https://cwiki.apache.org/confluence/display/OPENWHISK/OpenWhisk+Project+Wiki

which would be cleaner and avoid adding a temp. file in the repo. itself.  Your call.

[2017-02-02 16:52] mrutkows opened #172 "bin/develop fails on mac osx"
1) installed clean node/npm latest build for mac osx (Sierra 10.12.3).
node -v : v6.9.5
npm -v : 3.10.10

2) executed bin/develop and resulted in an error.

See attached .log for details
<img width="885" alt="screen shot 2017-02-02 at 10 48 45 am" src="https://cloud.githubusercontent.com/assets/7816715/22559112/bf323a5e-e935-11e6-945d-46171c4b0e7a.png">

[2017-02-02 16:54] mrutkows commented on #172
.log is not supported attachment type.  I am pasting the contents here:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'dev' ]
2 info using npm@3.10.10
3 info using node@v6.9.5
4 verbose run-script [ 'predev', 'dev', 'postdev' ]
5 info lifecycle openwhisk.org@0.1.0~predev: openwhisk.org@0.1.0
6 silly lifecycle openwhisk.org@0.1.0~predev: no

[2017-02-02 17:01] mrutkows commented on #172
npm -v Darwin :
3.10.10

[2017-02-02 17:37] mrutkows commented on #172
failure in package.json for "dev" target on line [8]:

[7]     "build:js": "NODE_ENV=production rollup -c",
[8]     "dev": "run-p dev:* --silent",
[9]     "dev:jekyll": "bundle exec jekyll serve",
[10]    "dev:js": "rollup -c --watch",

are there other pre-reqs that need to be installed?

[2017-02-02 17:42] krook commented on #170
@mrutkows That is a better idea as the checklist will be read/edited several times. Can you please create a wiki page based on the checklist I put in the PR? I'll cancel the PR after.

[2017-02-02 18:04] krook commented on #172
If it helps debugging whether it's specific to your environment... It works for me and I have:
OSX El Capitan (10.11.6)
node -v: v6.9.4
npm -v 3.10.10

[2017-02-02 18:21] mrutkows commented on #172
My fear is that this is a Sierra issue...  I did a complete "wipe" (even though it was a fresh install) and used a suggested "wipe" script as well and same issue upon re-install.

[2017-02-02 18:33] krook commented on #160
@mrutkows I believe it would just change here: https://github.com/openwhisk/openwhisk.github.io/blob/master/_scss/config/_variables.scss#L27

[2017-02-02 18:43] krook commented on #162
I like this idea @nauerz-ibm. We could continue to use the Medium icon link, but should also add a Blog link as a high level nav item (under "Community" in the proposed content reorg in Issue #123).

Key to this is not only managing the [DNS with Medium](https://help.medium.com/hc/en-us/requests/new?ticket_form_id=165177), but also updating the design on [Medium itself](https://blog.medium.com/how

[2017-02-02 18:44] krook commented on #170
New wiki page is at: https://cwiki.apache.org/confluence/display/OPENWHISK/Compliance+Checklist+for+OpenWhisk.org+website

[2017-02-02 18:44] #170 closed

[2017-02-02 19:33] krook commented on #59
I posted a note yesterday. Conversation started [here](http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/201702.mbox/%3COF14BEC4FF.FCCCC022-ON852580BA.00702C1F-852580BA.0071AA68%40notes.na.collabserv.com%3E).

[2017-02-02 19:33] #59 closed

[2017-02-02 19:35] krook commented on #108
@mrutkows Should this also should cover the `wskdeploy` samples?

[2017-02-02 21:51] krook commented on #37
@mrutkows Are these still outstanding todos?

[2017-02-02 21:53] krook commented on #38
@mrutkows Anything to still do here?

[2017-02-02 21:54] csantanapr commented on #59
@jlengstorf that's weird, since there are other people sending emails @us.ibm.com  like @krook and @markusthoemmes
Do you use verse or lotus notes native client?

let's chat on Slack to see if we can get you fix to be able to post to the dev list

[2017-02-02 22:07] krook opened #173 "Apache compliance: Add a favicon"
[Compliance Checklist for OpenWhisk.org website](https://cwiki.apache.org/confluence/display/OPENWHISK/Compliance+Checklist+for+OpenWhisk.org+website)

[2017-02-02 22:13] dubeejw commented on #59
@jlengstorf, @csantanapr, I had to use Notes to send an email to the dev list instead of Verse.

[2017-02-02 22:42] csantanapr commented on #59
@dubeejw oh my, we need to find a better way. I use gmail :-)

[2017-02-03 15:01] krook commented on #172
@mrutkows What was the eventual resolution to this? Maybe @jlengstorf and @csantanapr ran into the same issue? We should also document that bin/develop needs to be restarted to pick up CSS changes. It's good about regular content changes.

[2017-02-03 15:40] krook commented on #173
Already have one. Nevermind.

[2017-02-03 15:40] #173 closed

[2017-02-03 16:23] mrutkows commented on #59
@dubeejw is there a way to adjust the mail format (i.e., restrict to "plain text"), most email apps. should allow this somewhere...  I suspect that HTML (only) header/format is being sent and that there may be a perceived HTML error (and not plain text version to fall back to).  I believe Notes always sends both a plain text and HTML version.

[2017-02-03 16:25] mrutkows commented on #59
oh, and as a second test...   assure that you are not attaching images to your emails (e.g., in a signature) even if its HTML format can cause issues depending on image format.

[2017-02-03 16:54] jlengstorf commented on #172
It actually looks like the error — at least for @mrutkows — is that Ruby is missing.

If you've got Homebrew installed, you can use:

    brew install ruby

Since this site is built on Jekyll, which is a Ruby app, it's required for local dev.

[2017-02-03 16:55] mrutkows commented on #172
@jlengstorf I got it working and am updating the README

[2017-02-03 17:32] mrutkows commented on #172
Updated readme on PR:
https://github.com/openwhisk/openwhisk.github.io/pull/174

[2017-02-03 17:32] #172 closed

[2017-02-03 21:40] mrutkows opened #175 "Events page needs email and/or FORM for anyone to submit blogs/candidate events"
We need to automate, for anyone in the community, a way to submit blog posts/candidate events or request approved usage of name/logo around openwhisk.  This at minimum be an email that sends a request to dev@ list (for now) and perhaps copies private@ as well (to assure attention).

In addition, we should prescribe (require) that the request include event name (session/title name), speaker info, s

[2017-02-03 21:42] mrutkows opened #176 "Add support to expand/collapse events on Events page"
The requirement came to me as: "Improve the page's layout to allow to expand/collapse events where we run multiple things."

I believe that concern is that some events have multiple sessions and it would be nice to collapse these sessions under the event in order not to overwhelm the user/viewer (expand only as necessary, leave collapsed as default).

[2017-02-03 21:47] mrutkows opened #177 "Assure Events page has disclaimer that ASF does not endorse the listed events"
as the title says...

Although, we ack. that these events are submitted to and reviewed by OpenWhisk PPMC (and perhaps ASF legal) prior to being added.

[2017-02-06 16:32] #146 closed

[2017-02-06 22:56] #147 closed

[2017-02-06 22:56] #152 closed

[2017-02-06 22:56] #154 closed

[2017-02-06 22:56] #158 closed

[2017-02-06 22:56] #168 closed

[2017-02-06 22:56] #177 closed

[2017-02-07 13:58] krook commented on #175
This functionality should factor into the server-side type of Apache infrastructure we request, be it PHP, Java, Ruby, Python or whatever. Or we stay static and find a serverless form provider :)

[2017-02-08 14:23] krook commented on #46
Related to #175. FYI @csantanapr @mrutkows since we spoke about this approach.

[2017-02-08 20:50] csantanapr commented on #46
ah it looks like @jlengstorf was thinking on META from https://github.com/openwhisk/openwhisk.github.io/issues/46#issue-193639313

[2017-02-10 20:08] cfjedimaster opened #181 "Add my upcoming talks on OW"
I'm speaking at ForwardJS (https://forwardjs.com/) on OpenWhisk. The talk is "Serverless or Bust". Unfortunately there is no direct link to the session yet.

I'm also speaking on OW at "Into the Box" (https://www.intothebox.org/). Unfortunately, no direct link either.

[2017-02-15 14:19] krook opened #182 "Support internationalization and Japanese language content"

[2017-02-16 00:55] tokida commented on #182
I am trying to transration to Japanese, but the web site is currently built in english only .
This site is built by JekyII .
Is there  any ( favorite) approach of internationalization using JekyII.

Does anyone have an idea?

[2017-02-16 01:05] tokida commented on #182
JekeyII-task-i18n
- This program  is not JekyII plugins.  It is able to use GitHub Pages.
- https://github.com/ruby-gettext/jekyll-task-i18n

[2017-02-16 05:53] daisy-ycguo commented on #182
I'm also interested. I can help to translate to Chinese.

[2017-02-16 07:07] edwardyoon commented on #182
Korean is here. ;)

[2017-02-25 01:45] csantanapr opened #183 "website should have docs as web pages"
- need to automate the process of taking the md files from the the different repos, and generate webpages for the docs instead of linking to repos md files.

[2017-02-28 02:06] krook commented on #183
@csantanapr this is related to #123 and #56.

[2017-02-28 11:21] csantanapr commented on #183
Yes related, but I don't want to move the docs over this repo.
I think we should leave the canonical docs on their respective repos

I think we should use OpenWhisk to detect doc changes in any of the repos and then submit update for the website.

Or if we have an OpenWhisk nightly action that builds and publishes the website to apache http server

[2017-03-01 17:05] mpuittinen opened #184 "Include Dashdb (DB2) drivers in the node.js (and other) runtimes"
Developing a customer solution on Bluemix that need to access a Dashdb database. Our current workaround is to create a docker image with the drivers (not sure whether license allows that), but the cold start time is absolutely horrible (20secs).

Please include the DB2 driver binaries (and Node modules) in the standard Node.js Openwhisk runtime.

[2017-03-01 17:08] mpuittinen opened #185 "Add support for docker actions from Bluemix registry"
Openwhisk currently only supports docker actions from public Dockerhub registry. Access to Dockerhub may be slow (introduce additional load time to cold starts) and also requires, that you make your docker image public (may have IPR / lisencing issues)

Please add support for docker images from the Bluemix Container Service registry.

[2017-03-01 18:18] mrutkows commented on #185
@mpuittinen Perhaps this suggestion is best opened against the actual OW repository (as this is the Apache project's website source repo.  In addition, I think your idea needs to be generalized for any registry (not just Bluemix as IBM implementation of one).  Please let me know if you could pursue as suggested and let me know how to reference it (new issue) so that I may close this one as of topi

[2017-03-01 18:19] mrutkows commented on #185
@mpuittinen also feel free to discuss this first as a topic on our Apache mailing list :
dev@openwhisk.incubator.apache.org

It will surely get more discussion there than an issue in GitHub.

[2017-03-02 10:10] markusthoemmes commented on #184
@mpuittinen thanks for reaching out. You probably want to open this issue in the core repository at https://github.com/openwhisk/openwhisk/issues

[2017-03-02 10:50] mpuittinen commented on #185
Posted this to the Openwhisk repository https://github.com/openwhisk/openwhisk/issues/1933

[2017-03-02 10:50] #185 closed

[2017-03-02 10:51] mpuittinen commented on #184
Posted that to the openwhisk registry https://github.com/openwhisk/openwhisk/issues/1932

[2017-03-02 10:51] #184 closed

[2017-03-06 20:39] krook commented on #176
This seems to already exist as demonstrated by the latest update from @nauerz-ibm in https://github.com/openwhisk/openwhisk.github.io/pull/189

Can we close @mrutkows?

[2017-03-08 19:04] krook opened #199 "Add information on logo and naming usage"

[2017-03-09 22:43] cclauss opened #200 "Can I query an OpenWhisk server for what language "kinds" are supported?"
Get back something like (file suffix, versions available):
[code]
As a bonus, any way to query a server for info on deprecated versions?

[2017-03-09 22:43] #200 closed

[2017-03-29 13:47] krook commented on #164
This can be closed.

[2017-03-29 14:01] krook commented on #175
Would be great to reuse this work: https://github.com/IBM-Bluemix/OpenWhiskContact

[2017-04-17 16:17] krook opened #212 "Update Apache Incubator logo"
Here's the latest guidance: http://incubator.apache.org/guides/press-kit.html

[2017-04-17 19:44] mrutkows opened #213 "Support new Apache Incubator logoing"
See https://github.com/openwhisk/openwhisk.github.io/issues/214

[2017-04-17 19:45] mrutkows opened #214 "Incorporate new Apache Incubator logo"
Apache just release a new logo for Apache Incubator projects, along with guidance on how to incorporate project logos.  Find this all described here: http://incubator.apache.org/guides/press-kit.html

At min. we should add the Apache Incubator logo (perhaps on our footer of all pages) and also seek to create approved logos/graphics that incorporate the OpenWhisk logo for project use.

[2017-04-19 13:33] #213 closed

[2017-04-19 13:35] mrutkows commented on #212
Apache just release a new logo for Apache Incubator projects, along with guidance on how to incorporate project logos. Find this all described here: http://incubator.apache.org/guides/press-kit.html

At min. we should add the Apache Incubator logo (perhaps on our footer of all pages) and also seek to create approved logos/graphics that incorporate the OpenWhisk logo for project use.

Closing dupli

[2017-04-19 13:35] mrutkows commented on #214
Duplicate of #212

[2017-04-19 13:35] #214 closed

[2017-04-24 19:40] krook commented on #181
This can be closed @cfjedimaster. Both events are already on the events page.

[2017-04-24 19:46] #181 closed

[2017-04-24 21:26] krook commented on #164
@nauerz-ibm Can you please close this?

[2017-04-24 21:27] krook commented on #176
@mrutkows Can you please close this if you think the widget that's currently on the site for the InterConnect sessions suffices?

[2017-05-07 15:07] krook commented on #212
Still need to create the high res ones as mentioned on the dev list: https://lists.apache.org/thread.html/78dc0fa95fb0a16bf7202a6cca0c5b731633359fe67420bbfcd83694@%3Cdev.openwhisk.apache.org%3E

[2017-05-07 15:08] krook opened #216 "Add OSCON talks and move the April talks to past events"
https://conferences.oreilly.com/oscon/oscon-tx/public/schedule/speaker/166825

[2017-05-08 15:02] mrutkows opened #217 "Update GitHub link to Apache org. and suggest new page for "code" (repos)."
As we are not yet fully migrated as of May 8th, this can be problematic...

In addition, we need to allow users to find all "openwhisk" labelled repos. under a much larger Apache org. within GitHub.  As supplied by Carlos, the following link (with query) can find them all

https://github.com/apache?utf8=%E2%9C%93&q=openwhisk

I would suggest we create a dedicated page (on top-level, menu with drop

[2017-06-05 06:12] daisy-ycguo commented on #135
I'd like to take this work item. I'm happy to move awesome-openwhisk to openwhisk.org.

I'm going to add the videos & presentations of a serial of OpenWhisk webinars in a Chinese program named as "IBM Open Tech Mini Academy" in this page too. Each webinar will have a presentation and a video online available. Hope the resources can be useful for all people who want to understand OpenWhisk. The ser

[2017-06-06 20:29] csantanapr opened #219 "Add IBM logo to supporters web page"
http://openwhisk.org/supporters

We should add the IBM Bluemix logo to the supporter page

[2017-06-06 20:38] krook commented on #219
That's probably not a bad idea :)

[2017-06-06 20:40] csantanapr commented on #219
@krook you can want to tackle this one get us a logo?

[2017-06-06 20:57] csantanapr commented on #219
Make logos have a link, so people can click on the logo and know what are they about.

[2017-06-06 20:58] csantanapr commented on #219
link to the supporter's website

This was feedback from @bjustin-ibm , I'm not that clever :-)

[2017-06-06 21:15] mrutkows opened #220 "Add dates/links for China OpenWhisk Academy events / videos / slides /transcripts"
We completed the 1st session June 1st; its video is here (do not have transcript link):
[http://v.youku.com/v_show/id_XMjc5OTkxNjE0MA==.html](http://v.youku.com/v_show/id_XMjc5OTkxNjE0MA==.html)

I know Daisy has a whole series of sessions planned and we need to promote them as well

[2017-06-07 02:04] krook commented on #219
Yes, I can handle.

[2017-06-16 16:57] mrutkows opened #222 "Verify Ruby installed command not correct for OSX (homebrew)"
The README indicates:
# Verify Ruby is installed
ruby env

However, using Homebrew on OSX this command results inl
$ ruby env
$ ruby: No such file or directory -- env (LoadError)

Instead, you should verify using:
$ ruby -v

resulting in something like:
$ ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]

[2017-06-17 08:21] csantanapr opened #224 "Add OpenWhisk Meetup event at Austin Wednesday June 21st 2017"
Anyone here or know a developer from Austin? I’ll be at Austin next week
Join the development team contributing to the Open Source Apache OpenWhisk project, they will give an overview and show live demos.
DM me if you need more details

Title: OpenWhisk “Meetup” visits Austin, TX
Date: Wednesday June 21st 2017
Time: 6:30PM - 8:00PM
Location:
IBM Bldg 908 Room: Texas Star
11501 BURNET RD
AUSTIN, TX

[2017-06-17 08:37] #224 closed

[2017-06-17 15:19] csantanapr opened #226 "events: update event 2017-06-21 with time"

[2017-06-17 15:23] csantanapr commented on #226
Close with #227

[2017-06-17 15:23] #226 closed

[2017-06-17 15:38] csantanapr opened #228 "add js folder and do not ignore gen javascript files"
github pages do not build the js files, we need to checking manually a copy of the js files from a local build, when we move to jenkins we can look at in addition or running jekyll also running npm `build:js` before jekyll to generate the javascript.

[2017-06-17 19:15] csantanapr opened #230 "Add (Incubating) in first mention of Apache OpenWhisk"
Apache Infra team member (Daniel Gruno) requested that we have Apache OpenWhisk (Incubating) in the website in the first place it's mention on the website

[2017-06-19 12:47] #228 closed

[2017-06-19 18:09] #230 closed

[2017-06-23 23:45] csantanapr commented on #167
we are using apache ssl certs with the redirect to https://openwhisk.incubator.apache.org/

[2017-06-23 23:45] #167 closed

[2017-06-23 23:47] csantanapr opened #233 "remove and ignore the directory bin under the asf-site branch"
`bin/` is not intended for asf-site
https://github.com/apache/incubator-openwhisk-website/tree/asf-site/bin

[2017-06-23 23:55] csantanapr opened #234 "generate js files as part of website build job"
gitignore `js/`
build `js/` during jenkins build

[2017-06-24 16:55] cfjedimaster opened #237 "Supporters page should use links for logos"
The supporters page should use links, and title tags on the images, as I can't even tell what some of them are. :)

[2017-06-25 23:47] #234 closed

[2017-06-26 13:22] bjustin-ibm commented on #237
I believe this is already covered here: https://github.com/apache/incubator-openwhisk-website/issues/219#issuecomment-306614907

[2017-06-26 13:38] cfjedimaster commented on #237
agreed

[2017-06-26 13:38] #237 closed

[2017-07-21 13:06] krook commented on #219
Actually, @mrutkows was handling this one based on the legal review needed. Any update?

[2017-07-21 13:50] krook commented on #55
This can be marked complete. @csantanapr?

[2017-07-21 13:51] krook commented on #175
Related to #46

[2017-07-21 13:52] krook opened #241 "Revisit the web site Incubator graduation checklist, and add issues as needed"
https://cwiki.apache.org/confluence/display/OPENWHISK/Compliance+Checklist+for+OpenWhisk.org+website

[2017-07-21 14:01] mrutkows commented on #219
@krook Went into an ASF black hole... will ask Sam to make another inquiry.

[2017-07-24 16:45] #55 closed

[2017-08-09 16:46] ioana-blue opened #242 "Top github button needs updating"
The webpage has two github logo buttons: top and bottom. The bottom one takes me to the actual github repo for openwhisk. The top one takes me to the old repo that has a non-clickable link to the new repo. Make the top button behave like the bottom one.

I noticed this (hope it helps):
  *  the link on the top github logo is: https://github.com/openwhisk/
  * the link on the bottom logo points to:

[2017-08-21 03:48] windowsok commented on #63
It is the   information I am looking for. I'm learning more about this. Hope you bring   more things related to it. Thank you very much!
[abcya](http://abcdeya.com)

[2017-09-25 11:48] krook commented on #242
Looks like @mrutkows addressed this in https://github.com/apache/incubator-openwhisk-website/commit/583d82673471e5c815fbf6fc81f326813b61deb4 but Jekyll hasn't rebuilt the site to reflect the changes? cc @csantanapr

[2017-09-25 13:30] csantanapr commented on #233
already fixed https://github.com/apache/incubator-openwhisk-website/blob/asf-site/.gitignore#L7

[2017-09-25 13:30] #233 closed

[2017-09-25 13:35] csantanapr opened #245 "jenkins build for website fails with out of sync on git push"
when pushing the new updates to branch `asf-site` there is an error that is out of sync.

I think this is due that that jenkins doesn't have all the history by the time it does the git checkout of `asf-site`

[2017-09-25 16:39] #245 closed

[2017-09-25 19:53] csantanapr commented on #245
I was not able to fix by updating the groovy script.
I opened an INFRA ticket to see if someone can help with this https://issues.apache.org/jira/browse/INFRA-15168

[2017-09-25 20:31] csantanapr opened #248 "Add more events severlessconf oct10, ncdevcon oct 7"

[2017-09-25 20:38] krook commented on #248
@csantanapr Can you please add this while adding Serverlessconf info? https://www.meetup.com/Serverless-NYC/events/243399016/

[2017-09-26 14:14] #248 closed

[2017-10-09 13:44] crow15 opened #250 "Bad link: Events/Resources/Tutorials"
The Resources/Tutorials menu item on http://openwhisk.incubator.apache.org/events.html page is bad link: https://github.com/apache/incubator-openwhisk-/opennal-resources#workshops

[2017-11-17 14:55] serverlessnomad commented on #250
This link is bad on other pages as well, such as developers.html

Should be:

https://github.com/apache/incubator-openwhisk-external-resources#tutorials

[2018-01-18 22:30] krook commented on #242
Looks like the are the same now. Can we please close @mrutkows @csantanapr

[2018-01-18 22:32] #242 closed

[2018-01-23 19:55] #250 closed

[2018-03-28 16:48] csantanapr opened #255 "WHAT, HOW, WHY Install OpenWhisk on the main page."
We are getting multiple negative feedback that when people the website they don't know how to install OpenWhisk.

Kubernetes has a good website we could follow same pattern and UX
https://kubernetes.io/docs/home/?path=users&persona=app-developer&level=foundational

There might be different levels of users.
We should have simple and clear guidance for the type of User
I AM...
- Application Develope

[2018-03-28 17:25] krook commented on #255
There were three roles we identified for the first version of the site. We called them three things Developer, Contributor, and Package Creator. There's also a fourth, which we, unfortunately, left out but which you included @csantanapr.

- Developer (In your list as Application Developer, the end user, person with the serverless point of view).
- Cluster Operator (In your list, person who provide

[2018-04-11 19:15] Juice10 commented on #255
Currently the page for Contributor's also doesn't list how they can install OpenWhisk locally. Something that is necessary if you actually want to contribute.

[2018-07-24 01:24] houshengbo opened #259 "Use the mirror links for the release 0.9.0 and add the link to the public key"

[2018-07-24 01:41] #259 closed

[2018-07-25 09:34] sebbASF opened #413 "No link to Issue Tracker from website"
I could not find a link to the issue tracker from the website.

[2018-08-02 19:34] pritidesai opened #263 "Revisit Last Three sections on Home Page"
Review and Update last three sections on Home Page:

**Integrate easily with many popular services**
With Apache OpenWhisk you can easily create actions, test, connect to other actions or debug them. Use the Apache OpenWhisk CLI, target your Apache OpenWhisk instance, and run your first action in seconds.

Apache OpenWhisk makes it simple for thousands of developers to integrate with your service.

[2018-08-02 19:35] pritidesai opened #264 "Add a documentation on Logging"
Add documentation on logging under Operators section.

[2018-08-02 19:35] pritidesai opened #265 "Add a new section on Monitoring"
Add documentation on monitoring OpenWhisk actions and activations.

[2018-08-02 19:44] pritidesai opened #266 "Update Terminal on Doc page"
Update terminal settings on documentation page to make the text look more like a code and add "Copy to Clipboard" kind of functionality.

[2018-08-02 19:52] pritidesai opened #267 "Documentation scrolls horz. on small media"
There should be a better way to wrap the Content text, but allow for scrolling only on the code samples. That is, you should not need to scroll on a mobile phone to read the majority of the developer/operator/contrib. documentation.

[2018-08-02 19:53] pritidesai opened #268 "Add Quotes (somewhere) and remove old pages"
a) Extract quotes from these pages:
_layouts/developers.html
_layouts/creators.html
_layouts/contributors.html

and move to a file under _includes/partial and import it where we will use it.

b) create a single slideshow on some page (home?) using this quote widget.
c) then delete the old pages.
d) look to delete anonymous quotes (e.g., from Twiiter)
e) look to add new quotes from "Supporters" and

[2018-08-02 19:57] pritidesai opened #269 "Create scripts/files for each line of code on doc page"
Create a separate file for each action file and shell script for bash command and import them on doc page so that its easier to update them later and simplifies html file.

[2018-08-02 20:01] pritidesai opened #270 "Create README Templates for Deployment methods"
We would like to link every deployment README to openwhisk website documentation page. And to provide a uniform experience throughout all deployment methods, create a common template so that every deployment repos can change its README.md based on that template.

[2018-08-02 20:03] pritidesai opened #271 "Add HelloWorld sample action"
The website has samples in:

* NodeJS
* Java
* Python
* Go
* PHP

Please add more runtimes:

* Docker
* Swift

[2018-08-02 20:14] pritidesai opened #272 "Create Logos webpage"
We would like to have a page with variety of logos, similar to beam:

https://beam.apache.org/community/logos/

[2018-08-02 20:15] pritidesai opened #273 "Update workshop"
We have a workshop under apache at https://github.com/apache/incubator-openwhisk-workshop. Please update this workshop based on the latest material from https://github.com/jthomas/openwhisk-workshops.

[2018-08-02 20:20] pritidesai opened #274 "Need to provide links/method to point to releases"
It is an Apache requirement, now that we have an official release, to provide the link to it (and future releases) from our project website. We need a methodology to do so; I would prefer deriving a dynamic list in a widget/frame on along the right column of the main page (and plan to include other widgets above/below it) without taking up too much vertical space.

Having said this preference, we

[2018-08-06 18:03] pritidesai opened #275 "Validate Roles"
With this PR #262 we have defined roles as Developers, Contributors, and Operators.

Operators: users who deploy, configure, and host the Apache OpenWhisk Function-as-a-Service platform for development, testing and/or production.

Developers: end users developing functions/actions, creating packages, feeds, and feed provider services using project APIs, clients and tooling.

Contributors: develope

[2018-08-06 20:00] rabbah commented on #275
We should further disambiguate users and developers.

[2018-08-06 20:57] pritidesai opened #276 "Add a reference to OpenWhisk Shell"
Add a reference to OpenWhisk shell on doc page:

https://openwhisk.ng.bluemix.net/api/v1/web/nickm_wskng_demos/public/index.html

[2018-08-07 20:46] Juice10 opened #284 "Add code highlighting"
Add code highlighting to allow people to read the documentation much easier and scan through the code.

The easiest & best syntax highlighter I could find was [Prism.js](https://prismjs.com).

[2018-08-09 18:48] mrutkows commented on #284
We added syntax highlighting using Jekyll Rouge and Pygmentation based CSS
See PR: https://github.com/apache/incubator-openwhisk-website/pull/290

[2018-08-09 18:48] #284 closed

[2018-08-09 18:52] mrutkows commented on #274
IMO, we should do a "dropdown" from the "Downloads" menu on the home page like shown here: https://kubernetes.io/

with a menu of versioned releases ...

[2018-08-09 18:58] mrutkows commented on #270
We should reach out to Dave Grove, Brendan/Ben and Dragos when developing the template (perhaps not all at once but iterate with them over time.

[2018-08-09 18:59] mrutkows commented on #268
Perhaps add to the "Community" page?

[2018-08-09 18:59] mrutkows commented on #268
Quotes are problematic since we have no means to keep them current and the ones we have are over 2+ years old and 1/3 are anonymous.  That is really not imparting much of a testimonial.

[2018-08-09 19:10] mrutkows commented on #255
With the redesign of website I believe we fixed all these issues. If we missed any, I would suggest opening individual/granular issues for us to address against the new content.

[2018-08-09 19:10] #255 closed

[2018-08-09 19:18] mrutkows opened #292 "Project Website requires License page (or link to)"
That is, people coming to the project website need to see that the project, as a whole, is licensed under the ASF 2.0 license.

See Apache Spark (for ideas..): https://spark.apache.org/

With the "Apache Software Foundation" menu and drop-down with "License" that links to the Apache  hosted copy of the 2.0 license ..

[2018-08-09 19:28] mrutkows opened #293 "Need list (or link to one) of all project Committers as per ASF reqs."

[2018-08-09 19:30] mrutkows opened #294 "Need FAQ to adhere to ASF reqs."
Perhaps provide a link from Documentation page?

[] FAQ: frequently asked questions are answered here.

the old FAQ (before redesign) was not very useful, we need one that is better in quality.

[2018-08-09 19:32] mrutkows commented on #294
Note Spark, has a Menuitem "FAQ" (under Documentation menu), perhaps we can simply link on our main Documentation page?
https://spark.apache.org/

[2018-08-09 19:36] mrutkows commented on #241
Added individual issues against the recommended checklist.

[2018-08-09 19:36] #241 closed

[2018-08-09 19:36] #222 closed

[2018-08-09 19:38] mrutkows commented on #212
With the website redesign, I would recommend placing the "incubator" logo in the Footer (alongside the disclaimer). See http://incubator.apache.org/guides/press-kit.html

[2018-08-09 19:42] mrutkows commented on #220
We REALLY need a means to submit (email/form requests) for submitting not only News, but also content, and requests for use of logo or to be added to Supporters page.

[2018-08-09 19:47] mrutkows commented on #220
Perhaps add an invitation at the top of the Community page like:

News and Events
Please let us know if you have any news or events you would to share with the communoty and publisize.

Email us at: XXXX

[2018-08-09 19:55] mrutkows commented on #217
How do we do something like this: https://cwiki.apache.org/confluence/display/OPENWHISK/Subproject+listing

in the Documentation page?  Section "Project structure"

- List of repos. (as in Wiki)

Also see ,main repo. README: https://github.com/apache/incubator-openwhisk

Repository Structure

The OpenWhisk system is built from a number of components. The picture below groups the components by thei

[2018-08-09 19:55] mrutkows commented on #217
link to https://github.com/apache/incubator-openwhisk/blob/master/docs/dev/modules.md and update to make more current.

[2018-08-09 21:19] bbrowning opened #295 "Architecture Diagram is too large of a file size"
The file OW-Abstract Architecture Diagram.png shown on the root page is 5.5MB! Given that it's shown at a fairly small size on that page, we should have a resized version of this image that's a few hundred kilobytes or less.

[2018-08-10 08:02] jthomas commented on #268
@mrutkows Could we contact those non-anonymous quotees and ask them for a more recent version?

[2018-08-11 13:58] csantanapr opened #300 "FAQ is MIA"
There use to be a faq on the website https://openwhisk.apache.org/faq.html

Now is lost with the new design, can we bring it back and same url?
Doing a Google search "Openwhisk FAQ" it returns the url as a hit but now is 404

https://github.com/apache/incubator-openwhisk-website/commit/ade2a80be9fb6a515b1bbec42a81f69a9e18ecf4#diff-4a1318da06786ac52626178ca960109e

Thanks to Michael Marth from Adob

[2018-08-13 08:18] bdelacretaz opened #301 "Point to lists.apache.org for archives"
On the http://openwhisk.apache.org/community.html page, it would be better to link to https://lists.apache.org/list.html?dev@openwhisk.apache.org instead of  http://mail-archives.apache.org - the lists.apache.org service is much more convenient, and people can also reply directly there.

[2018-08-13 08:22] bdelacretaz opened #302 "Website is missing a few required links"
https://whimsy.apache.org/pods/project/openwhisk allows for checking whether the podling website matches the Apache requirements.

Currently there's a few missing items reported there - the links on that page should provide explanations as to how to fix things, otherwise let's discuss on the dev list.

[2018-08-13 11:06] csantanapr commented on #302
Thanks for pointing out I was not aware of this web page checker

[2018-08-13 21:44] pritidesai commented on #300
Duplicate of issue #294

[2018-08-14 20:36] pritidesai commented on #269
Done with PR #288

[2018-08-14 20:36] #269 closed

[2018-08-14 20:37] pritidesai commented on #217
Done with PR #299

[2018-08-14 20:37] #217 closed

[2018-08-14 20:55] Juice10 opened #305 "Use descriptive link texts (instead of "here" or "click here")"
Using "here" or "click here" is bad practice when it comes to SEO and Accessibility, we should replace those with something more descriptive. See the articles below for more information on the subject.

### Articles explaining the difference between descriptive links and "click here" links
https://webaccess.berkeley.edu/ask-pecan/click-here
http://dotmonster.co/blog/why-using-click-here-for-links-

[2018-08-14 21:04] csantanapr commented on #300
Thanks @pritidesai I didn't see #294 closing this one

[2018-08-14 21:04] #300 closed

[2018-08-14 21:15] Juice10 opened #306 "Prioritize linking to the runtimes in the documentation above linking to the runtime repositories"
In the ["Developers" section](http://openwhisk.incubator.apache.org/documentation.html#developers) of the documentation, the first time you see the runtimes mentioned is in the ["Actions" section](http://openwhisk.incubator.apache.org/documentation.html#actions). The links to these supported programming languages go straight to the GitHub repo for the runtime. Since this is part the developers sec

[2018-08-14 21:39] pritidesai commented on #306
@Juice10 I am not sure if I understand the change, the purpose of a link called "PHP" under "Actions" section is to demonstrate how to create write functions and create actions using PHP runtime.

![screen shot 2018-08-14 at 2 33 47 pm](https://user-images.githubusercontent.com/206285/44119871-63568292-9fcf-11e8-82f6-6242bffdd887.png)

The PHP runtime doesnt have this information (we should update

[2018-08-14 21:50] Juice10 commented on #306
@pritidesai yeah sorry about that, it's kind of hard to explain in text so I decided to record a little video of it to explain exactly what I mean. Let me know if this clarifies things:
https://monosnap.com/file/ypOoOSjiIxsMNmPsOhOpqutQN1GvUL

[2018-08-14 21:51] pritidesai commented on #306
wow, thats awesome, let me check the video 👍

[2018-08-14 22:00] pritidesai commented on #306
yeah I understand what you are saying now. I had added the links to all different runtimes under Actions section to kind of show listing of supported runtimes and pointing them to repo in one single place:

![screen shot 2018-08-14 at 2 58 02 pm](https://user-images.githubusercontent.com/206285/44120852-92ed9632-9fd2-11e8-8600-492d34844d13.png)

But after adding [Project Structure](http://openwhis

[2018-08-15 15:39] #302 closed

[2018-08-15 17:07] mrutkows commented on #295
@bbrowning PR https://github.com/apache/incubator-openwhisk-website/pull/307 should have reduced all illustrations to < 300kb (runtimes is now 200kb), does this address this issue so we can close it?

[2018-08-15 21:06] mrutkows opened #311 "Fix "shadow" on logo at small sizes (mobile)"
The logo shadow is white and should be sharper (not blurred); it produces a "glow" effect on small devices such as mobile/iphones.

[2018-08-15 21:08] mrutkows opened #312 "Add "OpenShift" to Home page as supported deployment option"
Please validate with Red Hat (Ben/Brendan) that they are ready to have the repo. featured on the Home page first.

[2018-08-15 22:10] mrutkows commented on #295
Closing for now, we can see if we can make smaller in future if necessary, but we got the major culprits...

[2018-08-15 22:10] #295 closed

[2018-08-16 00:57] bbrowning commented on #295
Much better - my mobile data thanks you!

[2018-08-16 22:41] pritidesai commented on #306
Fixed with PR #309

[2018-08-16 22:41] #306 closed

[2018-08-16 22:42] pritidesai commented on #294
Fixed with PR #313

[2018-08-16 22:42] #294 closed

[2018-08-17 16:08] pritidesai opened #315 "Add links to CLI and Go Client on Downloads Page"
Please be advised that we can release client go and cli now for 0.9.0:

openwhisk client go 0.9.0 artifact:
https://www.apache.org/dyn/closer.lua?filename=incubator/openwhisk/apache-openwhisk-0.9.0-incubating/openwhisk-client-go-0.9.0-incubating-sources.tar.gz&action=download

openwhisk client go 0.9.0 signature:
http://www-us.apache.org/dist/incubator/openwhisk/apache-openwhisk-0.9.0-incubating/o

[2018-08-17 19:44] pritidesai commented on #315
How should we structure this? Right now, we have links under **Versions**:

![screen shot 2018-08-17 at 12 36 49 pm](https://user-images.githubusercontent.com/206285/44285460-45480f80-a21a-11e8-9176-11087b406558.png)

How about adding it like?:

Versions:

[2018-08-20 18:06] pritidesai commented on #315
Excellent job @houshengbo on adding different repos to downloads

[2018-08-20 18:06] #315 closed

[2018-08-20 18:13] #311 closed

[2018-08-20 18:15] #292 closed

[2018-08-20 18:16] mrutkows commented on #301
Fixed in https://github.com/apache/incubator-openwhisk-website/pull/318

[2018-08-20 18:19] mrutkows commented on #267
After examining and playing with this, it will be very hard to "scroll" as the syntax highlighting code adds several HTML tags that we do not easily control.  Specifically, it appears that using any "pre" (i.e., <pre>) tag seems to void any layout... that is, the width of any <pre> container is respected regardless of any scroll options selected.

[2018-08-20 18:23] #274 closed, assigned to nobody

[2018-08-21 22:12] Juice10 opened #320 "Split docs into pages as opposed to one long page"
Currently all the documentation is on one long page. This was fine initially but now the amount of things we are documenting has outgrown our one pager.

We should split the documentation into multiple pages. This is better for SEO and makes it easier for people to link to different pages. Also currently we are using smaller and smaller headers for each sub-section, which is good because it shows

[2018-08-22 15:21] mrutkows commented on #320
@Juice10 actually, the long-term plan is not to "split" the page but make sections collapsible and look to add a documentation (road)map.

[2018-08-22 15:23] #301 closed, assigned to mrutkows

[2018-08-22 15:28] mrutkows commented on #199
We are working on this and more in issue https://github.com/apache/incubator-openwhisk-website/issues/272

[2018-08-22 15:28] #199 closed

[2018-08-22 15:29] mrutkows commented on #166
The new website has removed all such images; therefore these issues no longer exist.

[2018-08-22 15:29] #166 closed

[2018-08-22 15:31] mrutkows commented on #162
I am closing this issue as this is not generally supported at Apache (as they would have to host and maintain derivative project path URLs.

[2018-08-22 15:31] #162 closed

[2018-08-22 15:31] mrutkows commented on #160
This issue is no longer applicable subsequent to the website redesign.

[2018-08-22 15:31] #160 closed

[2018-08-22 15:38] Juice10 commented on #320
The downside with waiting with this is that when we do decided to split the docs into different pages, redirecting people is going to have to happen on the client side and which will mean that it won't get picked up by search engines that easily. The longer we wait the more comprehensive our redirects will have to get on the client side, because more people will start linking to our pages with the

[2018-11-03 02:27] csantanapr opened #343 "Add Go runtime to docs"
Go was added as one of the default runtimes in a deployment here https://github.com/apache/incubator-openwhisk/pull/4093

[2018-11-19 20:26] #343 closed, assigned to nobody

[2019-04-25 17:27] dgrove-oss opened #377 "update wskdeploy docs to reflect it being a subcommand of wsk"
http://openwhisk.apache.org/documentation.html#wskdeploy should be reworked to reflect wskdeploy now being bundled as a sub-command of wsk

[2019-04-25 17:36] pritidesai commented on #377
thanks @dgrove-oss yup, agree, need to update the website as well

[2019-06-07 15:01] rabbah commented on #276
this should go in the openwhisk-awesome list.
cc @starpit

[2019-06-07 15:01] #276 closed

[2019-06-08 16:28] csantanapr opened #385 "Copyright wrong in license file"
Reported on the dev list by Craig Russell

The license had year and attribution wrong.

https://github.com/apache/incubator-openwhisk-website/blob/master/LICENSE.txt

[2019-06-10 17:57] mrutkows commented on #385
Fixing in https://github.com/apache/incubator-openwhisk-website/pull/386

[2019-08-13 18:13] dgrove-oss commented on #385
fixed

[2019-08-13 18:13] #385 closed

[2019-08-13 18:14] dgrove-oss commented on #312
OpenShift supported by deploy-kube project.  I think this is already reflected in the website, but leaving open and assigning to me to verify

[2019-08-13 18:17] dgrove-oss commented on #37
obsolete.

[2019-08-13 18:17] #37 closed

[2019-08-13 18:17] #38 closed

[2019-08-13 18:17] #33 closed

[2019-08-13 18:18] #58 closed

[2019-08-13 18:19] #109 closed

[2019-09-03 21:20] dgrove-oss commented on #312
Confirmed that we state we support OpenShift via kube-deploy project on main web page.

[2019-09-03 21:20] #312 closed

[2019-09-03 21:24] dgrove-oss commented on #293
Ideally we would be able to just wrap the information in whimsy (https://whimsy.apache.org/roster/committee/openwhisk) so we don't have to update in more than one place.

[2019-09-03 21:26] dgrove-oss commented on #212
Closing as done?  Incubator logo no longer relevant and I believe we have appropriate OpenWhisk logos in all the right places.

[2019-09-03 21:26] #212 closed

[2019-09-03 21:27] #164 closed

[2019-09-03 21:27] #153 closed

[2019-09-03 21:28] #216 closed

[2019-12-18 21:45] dgrove-oss commented on #123
closing as stale

[2019-12-18 21:45] #123 closed

[2020-01-02 21:22] dgrove-oss commented on #413
Closing as outdated.  Links to Github issue trackers exist in multiple places on the current web site (for example under http://openwhisk.apache.org/documentation.html#contributor-resources).

[2020-01-02 21:22] #413 closed

[2020-02-07 03:28] rabbah opened #420 "Move "supporters" to a third sticky column or a new page"
The supporters and icons are not prominent - they're at the bottom of the community page. We should move them up.

[2020-02-11 23:36] vibhuti019 commented on #420
Please add a screenshot
I want to work on this issue

[2020-02-12 02:26] rabbah commented on #420
That’s great Vibhuti. Thank you. Here is a mock up courtesy of @supers1018.

![C15FC95B-D395-4ED0-87C6-33177A02B283](https://user-images.githubusercontent.com/4959922/74297544-352cc580-4d15-11ea-801f-4371021b0e42.jpeg)

[2020-02-12 07:21] vibhuti019 commented on #420
Okay, @rabbah I am working on it.

[2020-02-12 12:18] rabbah commented on #420
Fantastic!

[2020-02-15 21:33] vibhuti019 commented on #420
Sorry for the delay
Please tell me how to show that in mobile view of the page?

[2020-09-03 22:06] mrutkows opened #444 "Remove "Events" page as we no longer update/track them"
All the events there are outdated and maintaining old/bad links seems a waste of resource at this point...

[2020-09-04 12:51] mrutkows commented on #444
Perhaps we should create an "archive" folder and move legacy content into it so historical info. is not lost?

[2020-09-04 12:59] dgrove-oss commented on #444
It's in git, my inclination is always to just rm and rely on source control if we need it later.  But if you think it is important to have a web-accessible version of the old events I won't object.

[2020-09-04 13:01] mrutkows commented on #444
@dgrove-oss just removing would be my pref. as well, just open to suggs.

[2021-01-29 22:44] Amndeep7 commented on #377
Bump: https://github.com/apache/openwhisk-wskdeploy/issues/1109

I can change that one paragraph, but I'm not sure what yall wanna do for the rest of that section considering that recent `wskdeploy` releases no longer have binaries attached so if one were dedicated to using `wskdeploy` as opposed to `wsk project` then they're going to have to build it themselves.

[2021-01-29 23:02] dgrove-oss commented on #377
@mrutkows - opinions? coming up on two years now and the docs are still out of date.

[2021-01-31 20:16] rabbah commented on #377
I _think_ the references to wskdeploy can be replaced with references to the wsk CLI instead, including amending the command line example.

[2021-02-01 18:03] mrutkows commented on #377
@dgrove-oss @rabbah It had been my intent to maintain a wskdeploy (standalone) binary as well as the "deploy" command within the CLI since one can create automation with just the wskdeploy executable and not install the CLI.  I did not recall seeing anyone change that; the releases should have had binaries.

[2021-02-01 18:15] mrutkows commented on #377
@dgrove-oss @rabbah I no longer see the releases tab under the GitHub repo. did this get removed by Apache Infra.???   How do we get it back?

[2021-02-01 18:22] Amndeep7 commented on #377
@mrutkows The releases "tab" was moved by a UI update by Github a while back to instead be a section on the column on the right hand side.

[2021-02-01 18:25] mrutkows commented on #377
@Amndeep7 I would like to revisit the decision to not produce wskdeploy binaries...  as I truly do not recall agreeing to no longer do this but assume some discussion was had and this was required to allow us to graduate and/or simplify/streamline processes.

[2021-02-01 18:26] dgrove-oss commented on #377
is there an active maintainer for wskdeploy?  If so, their first step would be to get it passing travis builds again.  been broken for months.

[2021-02-01 18:29] mrutkows commented on #377
@dgrove-oss I saw that 2 weeks ago and assume your key changes work... trying to find time... would like to merge you travis/key PR and then see why those 2 integration tests are failing against golang runtime.

[2021-02-01 18:35] mrutkows commented on #377
@dgrove-oss and Dave please know that resources have become rather scarce/tenuous and I have been trying to add new professionals as part of our Jumpstart program each of the last 3 quarters.

[2021-02-01 18:46] dgrove-oss commented on #377
The reason why there are no connivence binarys with the 1.1.0 release of wskdeploy is that the wskdeploy build failed due to changes in golang runtime versions and no one had the bandwidth to fix it.  If wskdeploy built and passed its own test suite, all of the machinery is still in place to publish images.

https://travis-ci.org/github/apache/openwhisk-wskdeploy/builds/732114326

[2021-02-27 11:26] sebbASF opened #463 "Bug: difficult to find issue tracker from website"
I could not find an obvious mention of how to find the issue tracker on the website

[2021-02-27 11:29] sebbASF opened #464 "Bug: broken links on download page"
The download page
https://openwhisk.apache.org/downloads.html
contains links to Cloudant package, however they are all broken.

Please fix the links or remove them.

[2021-02-28 20:45] dgrove-oss commented on #464
We haven't released a post-incubation version of openwhisk-package-cloudant.  It looks like someone was overly eager in removing the incubating subdirectory from our dist svn.  There's been some recent discussion on whether we can revive this package or not.  I'll assign this to me to keep track of the issue.  The resolution will be either to make a 2.1.0 release of the package or to remove it fro

[2021-03-01 01:17] #463 closed

[2021-03-16 20:38] #464 closed

[2021-04-11 14:24] rabbah opened #477 "slack invite is broken"
Reported on the dev list, if you visit https://openwhisk.apache.org/slack.html and enter an email to request an invite, the network trace shows the request is failing
[code]

@csantanapr i think you set this up?

[2021-04-11 14:59] csantanapr commented on #477
Yeah but I don't have access to that action anymore.
I'm ok if you want to run the action in nimbella cloud

[2021-04-11 15:00] csantanapr commented on #477
I think this is the code https://github.com/csantanapr/openwhisk-slackinvite

[2021-04-11 15:15] rabbah commented on #477
Thanks for the pointer, I will look at switching it over.

[2021-04-11 15:23] csantanapr commented on #477
Have one of your new engineers contribute the change 😉

[2021-04-11 19:16] rabbah commented on #477
ha!

but i do have a PR that you're going to ❤️ 🤯

[2021-04-12 16:14] #477 closed

[2021-05-24 18:50] mrutkows commented on #420
Closed by https://github.com/apache/openwhisk-website/pull/427

[2021-05-24 18:52] #420 closed

[2021-08-13 19:42] #9 closed

[2021-08-13 19:42] #19 closed

[2021-08-13 19:43] #39 closed

[2021-08-13 19:43] #46 closed

[2021-08-13 19:43] #53 closed

[2021-08-13 19:44] #54 closed

[2021-08-13 19:44] #56 closed

[2021-08-13 19:44] #98 closed

[2021-08-13 19:44] #99 closed

[2021-08-13 19:45] #102 closed

[2021-08-13 19:45] #104 closed

[2021-08-13 19:45] #105 closed

[2021-08-13 19:45] #106 closed

[2021-08-13 19:46] #107 closed

[2021-08-13 19:46] #108 closed

[2021-08-13 19:46] #135 closed

[2021-08-13 19:46] #175 closed

[2021-08-13 19:47] #176 closed

[2021-08-13 19:47] #182 closed

[2021-08-13 19:47] #183 closed

[2021-08-13 19:47] #220 closed

[2021-08-13 19:48] #263 closed

[2021-08-13 19:50] #273 closed

[2021-08-13 19:53] dgrove-oss commented on #444
I believe this is done.  All the old stuff is on an "Events Archive" page now.

[2021-08-13 19:53] #444 closed

[2021-08-13 19:54] #270 closed

[2022-04-22 06:59] yadunandanbhat opened #495 "Typos and broken links in the Index page"
1. Typo:
        "Work with what you know and love. OpenWhisk supports a growing list of your favorite languages such as Go, Java, Rust and even newer, cloud-native ones **_like There is_** even an experimental runtime for Deno in-development."

2. Broken Links:
        Weather's link is 404 (See https://github.com/apache/openwhisk-catalog/tree/master/packages/weather)
        RSS and Jira are dep

[2022-04-22 07:12] style95 commented on #495
Thanks, @yadunandanbhat
A contribution is always welcome.

Though I am unclear the new sentence describes the intention better.

[2022-04-22 07:15] yadunandanbhat commented on #495
No, that's not the new sentence, the highlighted part is the error. I think  "...cloud-native ones. There is also an experimental runtime..." would be better

[2022-04-22 07:18] style95 commented on #495
oh, I got it.

[2022-08-08 06:36] Rajiv2605 opened #499 "Not receiving slack invites"
Hi team,

I am trying to generate a slack invite here: https://openwhisk.apache.org/slack.html by clicking the button but that does not seem to be sending invites. A few of us tried with our different emails but nothing worked. It would be great if someone can look into it and fix this issue.

[2022-08-08 09:00] style95 commented on #499
@rabbah
It seems the button invokes an action in Nimbella.

<img width="752" alt="image" src="https://user-images.githubusercontent.com/3447251/183380743-a82f2a51-4f31-429c-81fb-206c88ec0d86.png">

Do you have any idea?

[2022-08-08 11:44] Rajiv2605 commented on #499
@style95 It seems to work for users already in slack. For emails which are not a part of Openwhisk slack, the invite button doesn't work.

[2022-08-09 01:18] style95 commented on #499
Yes, the button invokes an action to invite people to Slack.
This is the action, and it seems it's running on the Nimbella cloud.
https://github.com/apache/openwhisk-slackinvite

[2022-08-13 14:16] Rajiv2605 commented on #499
I was able to join through an invite sent by somebody who is already a part of Openwhisk slack. The invite button way of joining did not work.

[2022-09-12 11:49] jtownley commented on #499
I can confirm this is still an issue. I get the same result as @linuswagner.